<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.ui.rules.script">
      <groovyScript
            bindingclass="org.remus.infomngmnt.ui.rules.notification.GroovyNotifications"
            id="org.remus.infomngmnt.ui.rules.groovyScript2"
            source="script/messages.groovy">
      </groovyScript>
      <method
            category="org.remus.infomngmnt.ui.rules.notification.category2"
            id="org.remus.infomngmnt.ui.rules.notification.method4"
            name="Shows a desktop notification"
            string="addMessageEntry(severity, title, description);">
      </method>
      <category
            id="org.remus.infomngmnt.ui.rules.notification.category2"
            name="Desktop Notifications">
      </category>
   </extension>

</plugin>
