<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.informationType">
      <information
            buildHtml="false"
            excludeFromIndex="false"
            name="Task"
            presentation="org.remus.infomngmnt.task.extension.TaskInformationRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="TASK">
      </information>
   </extension>
   <extension
         point="org.eclipse.remus.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.task.ui.TaskEditPage"
            icon="icons/iconexperience/task_edit.png"
            id="org.remus.infomngmnt.task.editPage1"
            label="Edit Task"
            type="TASK">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.task.ui.WorkLogPage"
            icon="icons/iconexperience/document_time.png"
            id="org.remus.infomngmnt.task.worklog"
            label="Worklog"
            type="TASK">
      </editPage>
      <creationUiTrigger
            class="org.remus.infomngmnt.task.ui.wizard.NewTaskWizard"
            typeId="TASK">
      </creationUiTrigger>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.business"
            class="org.remus.infomngmnt.task.ui.wizard.NewTaskWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/task_new.png"
            id="org.remus.infomngmnt.task.new"
            name="Task">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.remus.core.job">
      <job
            class="org.remus.infomngmnt.task.job.CheckTaskDueJob"
            id="org.remus.infomngmnt.task.checkDue"
            interval="10"
            name="Check Due Date Job">
      </job>
   </extension>
   <extension
         point="org.eclipse.remus.ui.desktop.traySection">
      <sectionBox
            id="org.remus.infomngmnt.task.workLog"
            multiple="false"
            name="Work Logger"
            sectionControl="org.remus.infomngmnt.task.tray.WorkLoggerTray">
      </sectionBox>
      <sectionBox
            icon="icons/iconexperience/task.png"
            id="org.remus.infomngmnt.task.sectionBox1"
            multiple="false"
            name="Tasks"
            sectionControl="org.remus.infomngmnt.task.tray.DueDateSection">
      </sectionBox>
   </extension>
   <extension
         point="org.eclipse.remus.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/task.png"
            infotype="TASK">
      </image>
   </extension>
   <extension
         point="org.eclipse.remus.search.indexer">
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="TASK"
            typeId="TASK">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="asignee"
            typeId="TASK">
      </index>
      <secondaryIndex
            class="org.remus.infomngmnt.task.index.WorkLogIndexer"
            node="workunits"
            typeId="TASK">
      </secondaryIndex>
   </extension>
   <extension
         point="org.eclipse.remus.ui.rules.ruleDefinition">
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="TASK">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="TASK">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.imagetransfer"
            typeId="TASK">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.rftTransfer"
            typeId="TASK">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="TASK">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.urlTransfer"
            typeId="TASK">
      </validTransfers>
      <creationtrigger
            class="org.remus.infomngmnt.task.ui.wizard.TaskCreationTrigger"
            typeId="TASK">
      </creationtrigger>
   </extension>
   <extension
         point="org.eclipse.remus.core.saveParticipant">
      <participant
            class="org.remus.infomngmnt.task.navigation.TaskSaveParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.remus.infomngmnt.task.navigation.TaskStatusDecorator"
            id="org.remus.infomngmnt.task.statusDescorator"
            label="Task Status-Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
      </decorator>
   </extension>

</plugin>
