<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="repositoryUi" name="repositoryUi" schema="schema/repositoryUi.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.remus.infomngmnt.ui.remote.remusRemoteAction"
            id="org.remus.infomngmnt.ui.remote.newRepository"
            name="Add new Repository">
      </command>
      <command
            categoryId="org.remus.infomngmnt.ui.remote.remusRemoteAction"
            id="org.remus.infomngmnt.ui.remote.shareCategory"
            name="Share Category">
      </command>
      <command
            categoryId="org.remus.infomngmnt.ui.remote.remusRemoteAction"
            id="org.remus.infomngmnt.ui.remote.syncCategory"
            name="Synchronize">
      </command>
      <command
            categoryId="org.remus.infomngmnt.ui.remote.remusRemoteAction"
            id="org.remus.infomngmnt.ui.remote.disconnect"
            name="Disconnect from Repository">
      </command>
      <category
            id="org.remus.infomngmnt.ui.remote.remusRemoteAction"
            name="Synchronization Commands for Information Types">
      </category>
      <command
      		categoryId="org.remus.infomngmnt.ui.remote.remusRemoteAction"
            id="org.remus.infomngmnt.ui.remote.commitCommand"
            name="Commit">
      </command>
      <command
      		categoryId="org.remus.infomngmnt.ui.remote.remusRemoteAction"
            id="org.remus.infomngmnt.ui.remote.addToRepository"
            name="Add to Remote Repository">
      </command>
      <command
            id="org.remus.infomngmnt.ui.remote.replaceCommand"
            name="Replace with Repository Content">
      </command>
      <command
      		categoryId="org.remus.infomngmnt.ui.remote.remusRemoteAction"
            id="org.remus.infomngmnt.ui.remote.ignoreForSynchronization"
            name="Add to Sync-Ignore">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
         <context
            id="org.remus.infomngmnt.ui.remote.repositories"
            name="Repository Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
	<extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.remus.infomngmnt.ui.remote.decorator.SynchronizationDecorator"
            id="org.remus.infomngmnt.ui.syncDecorator"
            label="SynchronizationLabelDecorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
      </decorator>
   </extension>
 	<extension
       point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
            class="org.remus.infomngmnt.ui.remote.propertytester.SynchronizableObjectItemTester"
            id="org.remus.infomngmnt.ui.ISynchronizableObjectTest"
            namespace="org.remus.infomngmnt.remote"
            properties="canCommitOrReplace, canAdd, isUnderSyncControl, canIgnore, repositoryIdEquals, syncStateEquals"
            type="org.remus.infomngmnt.SynchronizableObject">
      </propertyTester>
 	</extension>
 	 <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="selectionAreRemoteCategories">
         <and>
            <reference
                  definitionId="selectionAreCategories">
            </reference>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="org.remus.infomngmnt.SynchronizationMetadata">
               </adapt>
            </iterate>
         </and>
      </definition>
      <definition
            id="selectionAreLocalCategories">
         <and>
            <reference
                  definitionId="selectionAreCategories">
            </reference>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <not>
                  <adapt
                        type="org.remus.infomngmnt.SynchronizationMetadata">
                  </adapt>
               </not>
            </iterate>
         </and>
      </definition>
      <definition
            id="selectionIsUnderSyncControl">
         <iterate
               ifEmpty="false"
               operator="and">
            <test
                  property="org.remus.infomngmnt.remote.isUnderSyncControl">
            </test>
         </iterate>
      </definition>
      <definition
            id="selectionCanBeFiltered">
         <iterate
               ifEmpty="false"
               operator="and">
            <test
                  property="org.remus.infomngmnt.remote.canIgnore">
            </test>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.remus.infomngmnt.RemoteRepository"
            class="org.remus.infomngmnt.ui.remote.adapter.RemoteRepositoryAdapterFactory">
         <adapter
               type="org.remus.infomngmnt.RemoteRepository">
         </adapter>
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.remus.infomngmnt.RemoteContainer"
            class="org.remus.infomngmnt.ui.remote.adapter.RemoteRepositoryAdapterFactory">
         <adapter
               type="org.remus.infomngmnt.RemoteContainer">
         </adapter>
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.remus.infomngmnt.RemoteObject"
            class="org.remus.infomngmnt.ui.remote.adapter.RemoteRepositoryAdapterFactory">
         <adapter
               type="org.remus.infomngmnt.RemoteObject">
         </adapter>
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
         <handler
            class="org.remus.infomngmnt.ui.remote.handler.NewRepositoryHandler"
            commandId="org.remus.infomngmnt.ui.remote.newRepository">
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.remote.handler.ShareCategoryHandler"
            commandId="org.remus.infomngmnt.ui.remote.shareCategory">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     property="org.remus.infomngmnt.remote.canAdd">
               </test>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.remote.handler.SynchronizeCategoryHandler"
            commandId="org.remus.infomngmnt.ui.remote.syncCategory">
         <activeWhen>
            <reference
                  definitionId="selectionAreRemoteCategories">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.remote.handler.DisonnectRespositoryHandler"
            commandId="org.remus.infomngmnt.ui.remote.disconnect">
         <activeWhen>
            <reference
                  definitionId="selectionAreRemoteCategories">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.remote.handler.CommitHandler"
            commandId="org.remus.infomngmnt.ui.remote.commitCommand">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <instanceof
                        value="org.remus.infomngmnt.SynchronizableObject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.remus.infomngmnt.remote.canCommitOrReplace">
                  </test>
               </iterate>
            </with></activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.remote.handler.ShareItemHandler"
            commandId="org.remus.infomngmnt.ui.remote.addToRepository">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <instanceof
                        value="org.remus.infomngmnt.SynchronizableObject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.remus.infomngmnt.remote.canAdd">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.remote.handler.ReplaceHandler"
            commandId="org.remus.infomngmnt.ui.remote.replaceCommand">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <instanceof
                        value="org.remus.infomngmnt.SynchronizableObject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.remus.infomngmnt.remote.canCommitOrReplace">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.remote.handler.AddToSyncIgnoreHandler"
            commandId="org.remus.infomngmnt.ui.remote.ignoreForSynchronization">
         <activeWhen>
            <reference
                  definitionId="selectionCanBeFiltered">
            </reference>
         </activeWhen>
      </handler>
   </extension>

</plugin>
