<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.informationType">
      <information
            excludeFromIndex="false"
            name="%information.name"
            presentation="org.remus.infomngmnt.audio.internal.AudioRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="AUDIO">
      </information>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="org.eclipse.remus.ui.simple"
            class="org.remus.infomngmnt.audio.wizard.NewAudioWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            hasPages="true"
            icon="icons/iconexperience/loudspeaker_new.png"
            id="org.remus.infomngmnt.audio.newWizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.remus.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.audio.internal.AudioEditPage"
            id="org.remus.infomngmnt.audio.editPage1"
            label="%editPage.label"
            type="AUDIO">
      </editPage>
   </extension>
   <extension
         point="org.eclipse.remus.ui.rules.ruleDefinition">
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="AUDIO">
      </validTransfers>
      <creationtrigger
            class="org.remus.infomngmnt.audio.wizard.AudioCreationTrigger"
            typeId="AUDIO">
      </creationtrigger>
   </extension>
   <extension
         point="org.eclipse.remus.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/loudspeaker.png"
            infotype="AUDIO">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.audio.newWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
