<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.remoteRepository">
      <repository-connector
            class="org.remus.infomngmnt.connector.twitter.TwitterRepository"
            credentialprovider="org.remus.infomngmnt.connector.twitter.TwitterCredentials"
            icon="icons/twitter.png"
            id="org.remus.infomngmnt.connector.twitter.twitterConnector"
            name="Twitter">
         <changeDefinition
               id="org.remus.infomngmnt.connector.twitter.changeDefinition"
               informationType="TWITTER">
            <changeObjectId
                  path="messages">
            </changeObjectId>
         </changeDefinition>
      </repository-connector>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.repositoryUI">
      <respository
            id="org.remus.infomngmnt.connector.twitter.ui"
            newWizard="org.remus.infomngmnt.connector.twitter.ui.NewTwitterRepositoryWizard"
            repository-id="org.remus.infomngmnt.connector.twitter.twitterConnector">
      </respository>
   </extension>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            buildHtml="false"
            excludeFromIndex="false"
            icon="icons/iconexperience/messages.png"
            name="Twitter Feed"
            presentation="org.remus.infomngmnt.connector.twitter.infotype.TwitterInformationRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="TWITTER">
      </information>
      <information
            excludeFromIndex="true"
            icon="icons/iconexperience/users.png"
            name="Twitter User Log"
            presentation="org.remus.infomngmnt.connector.twitter.infotype.TwitterUserInfoRepresentation"
            structuredefinition="userlogdefinition.xmi"
            type="TWITTER-USER">
      </information>
      <information
            excludeFromIndex="true"
            icon="icons/iconexperience/document_chart.png"
            name="Twitter User-Details"
            presentation="org.remus.infomngmnt.connector.twitter.infotype.TwitterDetailledInfoRepresentation"
            structuredefinition="detaildefinition.xmi"
            type="TWITTER-DETAIL">
      </information>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.connector.twitter.ui.TwitterEditPage"
            icon="icons/iconexperience/messages.png"
            id="org.remus.infomngmnt.connector.twitter.ui.TwitterEditPage"
            label="Feed"
            type="TWITTER">
      </editPage>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.remus.infomngmnt.connector.twitter.preferences.TwitterPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.remus.infomngmnt.ui.navigation?after=iuspecific">
         <menu
               icon="icons/twitter.png"
               id="org.remus.infomngmnt.twitter.contextmenu"
               label="Twitter"
               mnemonic="l">
            <command
                  commandId="org.remus.infomnmnt.connector.twitter.tweet"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <and>
                           <test
                                 property="org.remus.infomngmnt.ui.canCommitOrReplace">
                           </test>
                           <test
                                 property="org.remus.infomngmnt.ui.repositoryIdEquals"
                                 value="org.remus.infomngmnt.connector.twitter.twitterConnector">
                           </test>
                        </and>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomnmnt.connector.twitter.tweet"
            name="Tweet">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.connector.twitter.handler.OpenTweetDialog"
            commandId="org.remus.infomnmnt.connector.twitter.tweet">
         <activeWhen>
            <or>
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <test
                              property="org.remus.infomngmnt.ui.canCommitOrReplace">
                        </test>
                        <test
                              property="org.remus.infomngmnt.ui.repositoryIdEquals"
                              value="org.remus.infomngmnt.connector.twitter.twitterConnector">
                        </test>
                     </and>
                  </iterate>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.remus.infomngmnt.connector.twitter.tester.CanTweetTester"
            id="org.remus.infomngmnt.connector.twitter.propTest"
            namespace="org.remus.infomngmnt.connector.twitter"
            properties="canTweet"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.remus.infomngmnt.common.ui.traySection">
      <sectionBox
            id="org.remus.infomngmnt.connector.twitter.sectionBox"
            multiple="true"
            name="Twitter"
            preferencesclass="org.remus.infomngmnt.connector.twitter.desktop.TwitterSectionPreferences"
            sectionControl="org.remus.infomngmnt.connector.twitter.desktop.TwitterTraySection">
      </sectionBox>
      <sectionBox
            id="org.remus.infomngmnt.connector.twitter.urlShorter"
            multiple="false"
            name="Short URL"
            sectionControl="org.remus.infomngmnt.connector.twitter.desktop.URLShorterSection">
      </sectionBox>
   </extension>
   <extension
         point="org.remus.infomngmnt.core.job">
      <job
            class="org.remus.infomngmnt.connector.twitter.jobs.RefreshAllFriendsJob"
            id="org.remus.infomngmnt.connector.twitter.sync"
            name="Twitter All Friends Refresh">
      </job>
      <job
            class="org.remus.infomngmnt.connector.twitter.jobs.RefreshDirectMessagesJob"
            id="org.remus.infomngmnt.connector.twitter.directmessagesync"
            name="Twitter Direct Messages Refresh">
      </job>
      <job
            class="org.remus.infomngmnt.connector.twitter.jobs.RefreshRepliesJob"
            id="org.remus.infomngmnt.connector.twitter.repliessync"
            name="Twitter Replies Refresh">
      </job>
      <job
            class="org.remus.infomngmnt.connector.twitter.jobs.DeleteOldMessagesJob"
            id="org.remus.infomngmnt.connector.twitter.deleteOldMessages"
            interval="30"
            name="DeleteOldMessageJob">
      </job>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.remus.infomngmnt.ui.repositories"
            class="org.remus.infomngmnt.connector.twitter.ui.TwitterPreferencePage2"
            id="org.remus.infomngmnt.connector.twitter"
            name="Twitter">
      </page>
   </extension>

</plugin>
