<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="informationUi" name="informationUi" schema="schema/informationUi.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
          <editor
            class="org.remus.infomngmnt.ui.editors.InformationEditor"
            contributorClass="org.remus.infomngmnt.ui.editors.InfomngmntActionBarContributor"
            extensions="info"
            icon="icons/iconexperience/16/document.png"
            id="org.remus.infomngmnt.ui.editors.InformationEditor"
            name="InformationEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.remus.infomngmnt.ui.editors.InformationEditorCreationFactory"
            id="org.remus.infomngmnt.infofilefactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
          <command
            id="org.remus.infomngmnt.ui.editor.buildInfoFile"
            name="Build single information unit">
         <commandParameter
               id="infoId"
               name="The id of the information unit"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
         <handler
            class="org.remus.infomngmnt.ui.editors.handler.BuildSingleInfoUnitHandler"
            commandId="org.remus.infomngmnt.ui.editor.buildInfoFile">
      </handler>
   </extension>

</plugin>
