<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.informationType">
      <information
            name="%information.name"
            presentation="org.remus.infomngmnt.image.core.ImageInformationRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="IMAGE">
      </information>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.remus.ui.simple"
            class="org.remus.infomngmnt.image.ui.NewImageWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/photo_landscape_new.png"
            id="org.remus.infomngmnt.image.newImageWizard"
            name="%wizard.name">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.remus.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.image.ui.ImageEditPage"
            icon="icons/iconexperience/photo_landscape_edit.png"
            id="org.remus.infomngmnt.image.imageEditPage"
            label="%editPage.label"
            type="IMAGE">
      </editPage>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.image.newImageWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.remus.js.browserReferenceResource">
      <referenceResource
            id="org.remus.infomngmnt.image.showCommentImage"
            resource="icons/iconexperience/messages.png">
      </referenceResource>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.remus.infomngmnt.image.importt.ImportImageFromDiskWizard"
            icon="icons/iconexperience/photo_landscape.png"
            id="org.remus.infomngmnt.image.imageFromDirectory"
            name="%import.wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.remus.ui.desktop.trayAction">
      <trayAction
            class="org.remus.infomngmnt.image.tray.CreateScreenShotAction"
            icon="icons/iconexperience/screenshot_new.png"
            id="org.remus.infomngmnt.image.trayAction"
            name="%trayAction.name">
      </trayAction>
   </extension>
   <extension
         point="org.eclipse.remus.ui.rules.ruleDefinition">
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="IMAGE">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.imagetransfer"
            typeId="IMAGE">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.urlTransfer"
            typeId="IMAGE">
      </validTransfers>
      <creationtrigger
            class="org.remus.infomngmnt.image.ui.ImageCreationTrigger"
            typeId="IMAGE">
      </creationtrigger>
   </extension>
   <extension
         point="org.eclipse.remus.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/photo_landscape.png"
            infotype="IMAGE">
      </image>
   </extension>
   <extension
         point="org.eclipse.remus.search.indexer">
      <secondaryIndex
            class="org.remus.infomngmnt.image.internal.index.CommentIndexer"
            node="links"
            typeId="IMAGE">
      </secondaryIndex>
   </extension>

</plugin>
