<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            creationFactory="org.remus.infomngmnt.sourcecode.core.SourceCodeCreationFactory"
            icon="icons/iconexperience/code_colored.png"
            name="Source Code"
            presentation="org.remus.infomngmnt.sourcecode.core.SourceCodeInformationRepresentation"
            type="SOURCE">
         <validTransfers
               transferId="org.remus.infomngmnt.core.texttransfer">
         </validTransfers>
      </information>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.business"
            class="org.remus.infomngmnt.sourcecode.wizard.NewSourceCodeWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/code_colored_new.png"
            id="org.remus.infomngmnt.sourcecode.newWizard"
            name="Source Code">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.remus.infomngmnt.ui.infotypes"
            class="org.remus.infomngmnt.sourcecode.prefs.SourceCodePreferencePage"
            id="org.remus.infomngmnt.sourcecode.sourcePref"
            name="Source-Code">
      </page>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.remus.infomngmnt.sourcecode.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.sourcecode.editor.EditSourcePage"
            icon="icons/iconexperience/code_colored_edit.png"
            id="org.remus.infomngmnt.sourcecode.editPage"
            label="Edit Source"
            type="SOURCE">
      </editPage>
      <creationUiTrigger
            class="org.remus.infomngmnt.sourcecode.wizard.NewSourceCodeWizard"
            typeId="SOURCE">
      </creationUiTrigger>
      <transferpreferences
            implementation="org.remus.infomngmnt.sourcecode.prefs.SourceCodeRulePreferencePage"
            transferId="org.remus.infomngmnt.core.texttransfer"
            typeId="SOURCE">
      </transferpreferences>
      <editorAction
            commandId="org.remus.infomngmnt.sourcecode.copyToClipboard"
            typeId="SOURCE">
      </editorAction>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.sourcecode.newWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.remus.infomngmnt.ui.navigation?after=iuspecific">
         <menu
               icon="icons/iconexperience/code_colored.png"
               id="org.remus.infomngmnt.sourcodecontextmenu"
               label="Source-Code"
               mnemonic="r">
            <command
                  commandId="org.remus.infomngmnt.sourcecode.copyToClipboard"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="org.remus.infomngmnt.iutypes.typeEquals"
                              value="SOURCE">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.sourcecode.copyToClipboard"
            name="Copy to Clipboard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.sourcecode.handler.CopySourceToClipboardHandler"
            commandId="org.remus.infomngmnt.sourcecode.copyToClipboard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.remus.infomngmnt.sourcecode.copyToClipboard"
            icon="icons/iconexperience/code_colored.png">
      </image>
   </extension>

</plugin>
