<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.informationType">
      <information
            name="%information.name"
            presentation="org.remus.infomngmnt.plaintext.extension.PlainTextInformationRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="PLAINTEXT">
      </information>
      <emitter
            class="org.remus.infomngmnt.plaintext.extension.UIXMLEmitter"
            emitter-type="UIXML"
            typeId="PLAINTEXT">
      </emitter>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.remus.ui.simple"
            class="org.remus.infomngmnt.plaintext.wizard.NewPlainTextWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/text_new.png"
            id="org.remus.infomngmnt.plaintext.wizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.plaintext.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.remus.ui.navigation?after=iuspecific">
         <menu
               icon="icons/iconexperience/text.png"
               id="org.remus.infomngmnt.plaintcontextmenu"
               label="%menu.label"
               mnemonic="%menu.mnemonic">
            <command
                  commandId="org.remus.infomngmnt.plaintext.copyToClipboard"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="org.eclipse.remus.iutypes.typeEquals"
                              value="PLAINTEXT">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.plaintext.copyToClipboard"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.plaintext.handler.CopyTextToClipboardHandler"
            commandId="org.remus.infomngmnt.plaintext.copyToClipboard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.remus.infomngmnt.plaintext.copyToClipboard"
            icon="icons/iconexperience/paste.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.remus.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.plaintext.ui.FormPage"
            icon="icons/iconexperience/text_edit.png"
            id="org.remus.infomngmnt.plaintext.editPage1"
            label="%editPage.label"
            type="PLAINTEXT">
      </editPage>
      <editorAction
            commandId="org.remus.infomngmnt.plaintext.copyToClipboard"
            typeId="PLAINTEXT">
      </editorAction>
   </extension>
   <extension
         point="org.eclipse.remus.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/text.png"
            infotype="PLAINTEXT">
      </image>
   </extension>
   <extension
         point="org.eclipse.remus.ui.rules.ruleDefinition">
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="PLAINTEXT">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.urlTransfer"
            typeId="PLAINTEXT">
      </validTransfers>
      <creationtrigger
            class="org.remus.infomngmnt.plaintext.rules.PlainTextCreationTrigger"
            typeId="PLAINTEXT">
      </creationtrigger>
   </extension>
   <extension
         point="org.eclipse.remus.search.indexer">
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="contents"
            typeId="PLAINTEXT">
      </index>
   </extension>
   <extension
         point="org.eclipse.remus.ui.desktop.traySection">
      <sectionBox
            id="org.remus.infomngmnt.plaintext.sectionBox"
            multiple="true"
            name="%sectionBox.name"
            preferencesclass="org.remus.infomngmnt.plaintext.section.InstantSectionPreferences"
            sectionControl="org.remus.infomngmnt.plaintext.section.InstantCopySection">
      </sectionBox>
   </extension>

</plugin>
