<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            creationFactory="org.remus.infomngmnt.plaintext.extension.UnformattedTextCreationFactory"
            icon="icons/iconexperience/text.png"
            name="Unformatted Text"
            presentation="org.remus.infomngmnt.plaintext.extension.PlainTextInformationRepresentation"
            type="PLAINTEXT">
         <validTransfers
               transferId="org.remus.infomngmnt.core.htmltransfer">
         </validTransfers>
         <validTransfers
               transferId="org.remus.infomngmnt.core.urlTransfer">
         </validTransfers>
         <validTransfers
               transferId="org.remus.infomngmnt.core.texttransfer">
         </validTransfers>
      </information>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.simple"
            class="org.remus.infomngmnt.plaintext.wizard.NewPlainTextWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/text_new.png"
            id="org.remus.infomngmnt.plaintext.wizard"
            name="Plain Text">
      </wizard>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.plaintext.ui.FormPage"
            icon="icons/iconexperience/text_edit.png"
            id="editPage1"
            label="Edit"
            type="PLAINTEXT">
      </editPage>
      <editorAction
            commandId="org.remus.infomngmnt.plaintext.copyToClipboard"
            typeId="PLAINTEXT">
      </editorAction>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.plaintext.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.remus.infomngmnt.ui.navigation?after=iuspecific">
         <menu
               icon="icons/iconexperience/text.png"
               id="org.remus.infomngmnt.plaintcontextmenu"
               label="Unformatted Text"
               mnemonic="r">
            <command
                  commandId="org.remus.infomngmnt.plaintext.copyToClipboard"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="org.remus.infomngmnt.iutypes.typeEquals"
                              value="PLAINTEXT">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.plaintext.copyToClipboard"
            name="Copy To Clipboard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.plaintext.handler.CopyTextToClipboardHandler"
            commandId="org.remus.infomngmnt.plaintext.copyToClipboard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.remus.infomngmnt.plaintext.copyToClipboard"
            icon="icons/iconexperience/paste.png">
      </image>
   </extension>

</plugin>
