<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.informationType">
      <information
            excludeFromIndex="false"
            name="%information.name"
            postCreationHandler="org.remus.infomngmnt.mail.extension.MailPostCreationHandler"
            presentation="org.remus.infomngmnt.mail.extension.MailInformationRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="MAIL">
      </information>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.business"
            class="org.remus.infomngmnt.mail.ui.NewMailWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/mail_new.png"
            id="org.remus.infomngmnt.mail.newWizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.remus.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.mail.ui.MailEditPage"
            icon="icons/iconexperience/mail_edit.png"
            id="org.remus.infomngmnt.mail.editPage"
            label="%editmail.editPage.label"
            type="MAIL">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.mail.ui.RecipentsEditPage"
            icon="icons/iconexperience/businesspeople2.png"
            id="org.remus.infomngmnt.mail.recipients"
            label="%recipients.editPage.label"
            type="MAIL">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.mail.ui.AttachmentsEditPage"
            icon="icons/iconexperience/paperclip.png"
            id="org.remus.infomngmnt.mail.attachments"
            label="%attachments.editPage.label"
            type="MAIL">
      </editPage>
      <editorAction
            commandId="org.remus.infomngmnt.mail.openBrowser"
            typeId="MAIL">
      </editorAction>
      <creationUiTrigger
            class="org.remus.infomngmnt.mail.ui.NewMailWizard"
            typeId="MAIL">
      </creationUiTrigger>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.remus.ui.infotypes"
            class="org.remus.infomngmnt.mail.ui.MailPreferencePage2"
            id="org.remus.infomngmnt.mail.preferences"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.remus.ui.navigation?after=iuspecific">
         <menu
               icon="icons/iconexperience/mail.png"
               id="org.remus.infomngmnt.mail.contextmenu"
               label="%menu.label"
               mnemonic="%menu.mnemonic">
            <command
                  commandId="org.remus.infomngmnt.mail.openBrowser"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="org.eclipse.remus.iutypes.typeEquals"
                           value="MAIL">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.mail.openBrowser"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.remus.infomngmnt.mail.openBrowser"
            icon="icons/iconexperience/window_earth.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.mail.handler.OpenMailInBrowserHandler"
            commandId="org.remus.infomngmnt.mail.openBrowser">
      </handler>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.remus.infomngmnt.mail.preferences.MailPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.remus.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/mail.png"
            infotype="MAIL">
      </image>
   </extension>
   <extension
         point="org.eclipse.remus.search.indexer">
      <index
            analyzer="org.remus.infomngmnt.search.HtmlAnalyzer"
            node="content"
            typeId="MAIL">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="moreInfo"
            typeId="MAIL">
      </index>
   </extension>
   <extension
         point="org.eclipse.remus.ui.rules.ruleDefinition">
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="MAIL">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="MAIL">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="MAIL">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.urlTransfer"
            typeId="MAIL">
      </validTransfers>
      <creationtrigger
            class="org.remus.infomngmnt.mail.rules.MailCreationTrigger"
            typeId="MAIL">
      </creationtrigger>
   </extension>

</plugin>
