<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="informationType" name="A pluggable Content-Type for Information" schema="schema/informationType.exsd"/>
 <extension-point id="postProjectHandle" name="postProjectHandle" schema="schema/postProjectHandle.exsd"/>
 <extension-point id="ruleDefinition" name="ruleDefinition" schema="schema/ruleDefinition.exsd"/>
 <extension-point id="remoteRepository" name="remoteRepository" schema="schema/remoteRepository.exsd"/>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.remus.infomngmnt.InfomngmntPackage"
            genModel="model/infomngmnt.genmodel"
            uri="http://remus-software.org/infomngmnt">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.remus.infomngmnt.provider.InfomngmntItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"
            uri="http://remus-software.org/infomngmnt">
      </factory>
   </extension>
   <extension
         id="infobuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.remus.infomngmnt.core.builder.InformationBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.remus.infomngmnt.Category"
            class="org.remus.infomngmnt.core.adapters.CategoryAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IProject">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.remus.infomngmnt.InformationUnitListItem"
            class="org.remus.infomngmnt.core.adapters.InformationUnitListItemAdapterFactory">
         <adapter
               type="org.remus.infomngmnt.InformationUnit">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="org.remus.infomngmnt.core.adapters.FileAdapterFactory">
         <adapter
               type="org.remus.infomngmnt.InformationUnitListItem">
         </adapter>
      </factory>
      <factory
            adaptableType="org.remus.infomngmnt.InformationUnit"
            class="org.remus.infomngmnt.core.adapters.InformationUnitAdapterFactory">
         <adapter
               type="org.remus.infomngmnt.InformationUnitListItem">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.remus.infomngmnt.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.remus.infomngmnt.core.postProjectHandle">
      <projectHandle
            handle="org.remus.infomngmnt.core.builder.InformationBuilderHandle">
      </projectHandle>
   </extension>
   <extension
         point="org.remus.infomngmnt.core.ruleDefinition">
      <transfertype
            id="org.remus.infomngmnt.core.texttransfer"
            implementation="org.remus.infomngmnt.core.transfertypes.TextTransferWrapper"
            name="Dropped/Pasted Text-Content">
      </transfertype>
      <transfertype
            id="org.remus.infomngmnt.core.htmltransfer"
            implementation="org.remus.infomngmnt.core.transfertypes.HtmlTransferWrapper"
            name="Dropped/Pasted HTML-Content">
      </transfertype>
      <transfertype
            id="org.remus.infomngmnt.core.rftTransfer"
            implementation="org.remus.infomngmnt.core.transfertypes.RTFTransferWrapper"
            name="Dropped/Pasted RichText-Content">
      </transfertype>
      <transfertype
            id="org.remus.infomngmnt.core.urlTransfer"
            implementation="org.remus.infomngmnt.core.transfertypes.URLTransferWrapper"
            name="Dropped/Pasted URL">
      </transfertype>
      <transfertype
            id="org.remus.infomngmnt.core.filetransfer"
            implementation="org.remus.infomngmnt.core.transfertypes.FileTransferWrapper"
            name="Dropped/Pasted File(s)">
      </transfertype>
      <transfertype
            id="org.remus.infomngmnt.core.imagetransfer"
            implementation="org.remus.infomngmnt.core.transfertypes.ImageTransferWrapper"
            name="Dropped/Pasted Image or Image-Data">
      </transfertype>
      
   </extension>
  

</plugin>
