<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.informationType">
      <information
            name="%information.name"
            postCreationHandler="org.remus.infomngmnt.link.LinkCreationFactory"
            presentation="org.remus.infomngmnt.link.LinkRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="LINK">
      </information>
   </extension>
   <extension
         point="org.eclipse.remus.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.link.ui.EditLinkPage"
            icon="icons/iconexperience/link_edit.png"
            id="org.remus.infomngmnt.link.editPage"
            label="%editPage.label"
            type="LINK">
      </editPage>
      <editorAction
            commandId="org.remus.infomngmnt.link.openBrowser"
            typeId="LINK">
      </editorAction>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.simple"
            class="org.remus.infomngmnt.link.ui.NewLinkWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/link_new.png"
            id="org.remus.infomngmnt.link.newLinkWizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.remus.infomngmnt.link.preferences.LinkPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.remus.ui.infotypes"
            class="org.remus.infomngmnt.link.preferences.LinkEditorPreferencePage"
            id="org.remus.infomngmnt.link.preferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.link.newLinkCommand"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.link.newLinkWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.remus.js.browserReferenceResource">
      <referenceResource
            id="org.remus.infomngmnt.link.fittosizeimage"
            resource="icons/iconexperience/fit_to_size.png">
      </referenceResource>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.remus.ui.navigation?after=iuspecific">
         <menu
               icon="icons/iconexperience/link.png"
               id="org.remus.infomngmnt.sourcecode.contextmenu"
               label="%menu.label"
               mnemonic="%menu.mnemonic">
            <command
                  commandId="org.remus.infomngmnt.link.openBrowser"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="org.eclipse.remus.iutypes.typeEquals"
                              value="LINK">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.link.openBrowser"
            name="%openBrowser.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.link.handler.OpenLinkInBrowserHandler"
            commandId="org.remus.infomngmnt.link.openBrowser">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.remus.infomngmnt.link.openBrowser"
            icon="icons/iconexperience/window_earth.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.remus.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/link.png"
            infotype="LINK">
      </image>
   </extension>
   <extension
         point="org.eclipse.remus.search.indexer">
      <index
            analyzer="org.remus.infomngmnt.search.HtmlAnalyzer"
            node="index"
            typeId="LINK">
      </index>
   </extension>
   <extension
         point="org.eclipse.remus.ui.rules.ruleDefinition">
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="LINK">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.urlTransfer"
            typeId="LINK">
      </validTransfers>
      <creationtrigger
            class="org.remus.infomngmnt.link.LinkCreationTrigger"
            typeId="LINK">
      </creationtrigger>
   </extension>
   <extension
         point="org.eclipse.remus.ui.rules.script">
      <groovyScript
            bindingclass="org.remus.infomngmnt.link.script.LinkGroovyBinding"
            id="org.remus.infomngmnt.link.groovyScript2"
            source="script/LinkUtil.groovy">
      </groovyScript>
      <method
            id="org.remus.infomngmnt.link.method1"
            name="%method.name"
            string="%method.string">
      </method>
   </extension>

</plugin>
