<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            creationFactory="org.remus.infomngmnt.link.LinkCreationFactory"
            icon="icons/iconexperience/link.png"
            name="Link"
            presentation="org.remus.infomngmnt.link.LinkRepresentation"
            type="LINK">
         <validTransfers
               transferId="org.remus.infomngmnt.core.texttransfer">
         </validTransfers>
         <validTransfers
               transferId="org.remus.infomngmnt.core.urlTransfer">
         </validTransfers>
      </information>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.link.ui.EditLinkPage"
            icon="icons/iconexperience/link_edit.png"
            id="org.remus.infomngmnt.link.editPage"
            label="Edit Link"
            type="LINK">
      </editPage>
      <transferpreferences
            implementation="org.remus.infomngmnt.link.LinkTextTransferPreferencePage"
            transferId="org.remus.infomngmnt.core.texttransfer"
            typeId="LINK">
      </transferpreferences>
      <transferpreferences
            implementation="org.remus.infomngmnt.link.LinkTextTransferPreferencePage"
            transferId="org.remus.infomngmnt.core.urlTransfer"
            typeId="LINK">
      </transferpreferences>
      <creationUiTrigger
            class="org.remus.infomngmnt.link.ui.NewLinkWizard"
            typeId="LINK">
      </creationUiTrigger>
      <editorAction
            commandId="org.remus.infomngmnt.link.openBrowser"
            typeId="LINK">
      </editorAction>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.simple"
            class="org.remus.infomngmnt.link.ui.NewLinkWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/link_new.png"
            id="org.remus.infomngmnt.link.newLinkWizard"
            name="Link">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.remus.infomngmnt.link.preferences.LinkPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.remus.infomngmnt.ui.infotypes"
            class="org.remus.infomngmnt.link.preferences.LinkEditorPreferencePage"
            id="org.remus.infomngmnt.link.preferencePage"
            name="Link">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.link.newLinkCommand"
            name="name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.link.newLinkWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.remus.infomngmnt.jslib.browserReferenceResource">
      <referenceResource
            id="org.remus.infomngmnt.link.fittosizeimage"
            resource="icons/iconexperience/fit_to_size.png">
      </referenceResource>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.remus.infomngmnt.ui.navigation?after=iuspecific">
         <menu
               icon="icons/iconexperience/link.png"
               id="org.remus.infomngmnt.sourcecode.contextmenu"
               label="Link"
               mnemonic="l">
            <command
                  commandId="org.remus.infomngmnt.link.openBrowser"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="org.remus.infomngmnt.iutypes.typeEquals"
                              value="LINK">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.link.openBrowser"
            name="Open in Browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.link.handler.OpenLinkInBrowserHandler"
            commandId="org.remus.infomngmnt.link.openBrowser">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.remus.infomngmnt.link.openBrowser"
            icon="icons/iconexperience/window_earth.png">
      </image>
   </extension>

</plugin>
