<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.remote.remoteRepository">
      <repository-connector
            class="org.remus.infomngmnt.link.delicious.DelicicousRepository"
            credentialprovider="org.remus.infomngmnt.link.delicious.security.DeliciousCredentialProvider"
            id="org.remus.infomngmnt.link.delicious"
            name="%repository-connector.name">
         <changeDefinition
               id="org.remus.infomngmnt.link.delicious.linkChange"
               informationType="LINK">
            <changeObjectIdValue
                  path="@label"></changeObjectIdValue>
            <changeObjectIdValue
                  path="@keywords">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="@description">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="LINK">
            </changeObjectIdValue>
         </changeDefinition>
      </repository-connector>
   </extension>
   <extension
         point="org.eclipse.remus.ui.remote.repositoryUi">
      <respository
            icon="icons/delicious.gif"
            id="org.remus.infomngmnt.link.delicious.ui"
            newWizard="org.remus.infomngmnt.link.delicious.ui.NewDeliciousRepositoryWizard"
            repository-id="org.remus.infomngmnt.link.delicious">
      </respository>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.remus.ui.repositories"
            class="org.remus.infomngmnt.link.delicious.DeliciousPreferencePage"
            id="org.remus.infomngmnt.link.delicious.preferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.remus.infomngmnt.link.delicious.pref.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
