<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.informationType">
      <information
            name="Rich Text"
            presentation="org.remus.infomngmnt.richtext.presentation.RichTextPresentation"
            structuredefinition="structuredefinition.xmi"
            type="HTML">
      </information>
   </extension>
   <extension
         point="org.eclipse.remus.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.richtext.editor.RichTextEditPage"
            icon="icons/iconexperience/richtext_edit.png"
            id="org.remus.infomngmnt.richtext.editor.RichTextEditPage"
            label="Edit RichText"
            type="HTML">
      </editPage>
      <creationUiTrigger
            class="org.remus.infomngmnt.richtext.wizard.NewRichTextWizard"
            typeId="HTML">
      </creationUiTrigger>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.simple"
            class="org.remus.infomngmnt.richtext.wizard.NewRichTextWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/richtext_new.png"
            id="org.remus.infomngmnt.richtext.wizard.NewRichTextWizard"
            name="Rich Text">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.remus.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/text_rich_colored.png"
            infotype="HTML">
      </image>
   </extension>
   <extension
         point="org.eclipse.remus.ui.rules.ruleDefinition">
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="HTML">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="HTML">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="HTML">
      </validTransfers>
      <creationtrigger
            class="org.remus.infomngmnt.richtext.NewRichTextCreationWizard"
            typeId="HTML">
      </creationtrigger>
   </extension>
   <extension
         point="org.eclipse.remus.search.indexer">
      <index
            analyzer="org.remus.infomngmnt.search.HtmlAnalyzer"
            node="HTML"
            typeId="HTML">
      </index>
   </extension>

</plugin>
