<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="websearch" name="websearch" schema="schema/websearch.exsd"/>
   <extension
         id="searchBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.remus.infomngmnt.search.builder.SearchBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <view
               closeable="true"
               id="org.remus.infomngmnt.search.ui.view.SearchView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.remus.infomngmnt.ui.views.NavigationView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.remus.infomngmnt.search.ui.view.SearchView"
            icon="images/search.gif"
            id="org.remus.infomngmnt.search.ui.view.SearchView"
            name="Search"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.remus.infomngmnt.search.gloablSearchBar">
            <control
                  class="org.remus.infomngmnt.search.menu.SearchFieldContribution"
                  id="org.remus.infomngmnt.search.menu.SearchFieldContribution">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.remus.infomngmnt.core.postProjectHandle">
      <projectHandle
            handle="org.remus.infomngmnt.search.builder.SearchBuilderHandle">
      </projectHandle>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.remus.infomngmnt.search.editor.SearchResultEditor"
            default="false"
            extensions="searchresult"
            icon="images/search.gif"
            id="org.remus.infomngmnt.search.editor.SearchResultEditor"
            name="SearchResult">
      </editor>
   </extension>
   <extension
         point="org.remus.infomngmnt.search.websearch">
      <websearch
            icon="icons/websearch/google.png"
            id="websearch.google"
            name="Google"
            urlpattern="http://www.google.de/search?q={0}&amp;ie=utf-8&amp;oe=utf-8&amp;aq=t&amp;client=remus">
      </websearch>
      <websearch
            icon="icons/websearch/wikipedia.gif"
            id="websearch.wikipedia"
            name="Wikipedia"
            urlpattern="http://en.wikipedia.org/wiki/Special:Search?search={0}&amp;go=Article&amp;sourceid=remus">
      </websearch>
      <websearch
            icon="icons/websearch/yahoo.gif"
            id="websearch.yahoo"
            name="Yahoo"
            urlpattern="http://search.yahoo.com/search?p={0}&amp;ei=UTF-8&amp;fr=remus">
      </websearch>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.remus.infomngmnt.search.preferences.SearchPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
