<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="searchBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.remus.infomngmnt.search.builder.SearchBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <view
               closeable="true"
               id="org.remus.infomngmnt.search.ui.view.SearchView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.remus.infomngmnt.ui.views.NavigationView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.remus.infomngmnt.search.ui.view.SearchView"
            icon="images/search.gif"
            id="org.remus.infomngmnt.search.ui.view.SearchView"
            name="Search"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.remus.infomngmnt.search.gloablSearchBar">
            <control
                  class="org.remus.infomngmnt.search.menu.SearchFieldContribution"
                  id="org.remus.infomngmnt.search.menu.SearchFieldContribution">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.remus.infomngmnt.core.postProjectHandle">
      <projectHandle
            handle="org.remus.infomngmnt.search.builder.SearchBuilderHandle">
      </projectHandle>
   </extension>

</plugin>
