<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            excludeFromIndex="false"
            icon="icons/iconexperience/book_blue.png"
            name="Book"
            presentation="org.remus.infomngmnt.bibliographic.extension.BookRepresentation"
            structuredefinition="structuredefinition/book.xmi"
            type="BOOK">
         <validTransfers
               transferId="org.remus.infomngmnt.core.filetransfer">
         </validTransfers>
         <validTransfers
               transferId="org.remus.infomngmnt.core.htmltransfer">
         </validTransfers>
         <validTransfers
               transferId="org.remus.infomngmnt.core.texttransfer">
         </validTransfers>
      </information>
      <information
            excludeFromIndex="false"
            icon="icons/iconexperience/newspaper.png"
            name="Article"
            presentation="org.remus.infomngmnt.bibliographic.extension.ArticleRepresentation"
            structuredefinition="structuredefinition/article.xmi"
            type="ARTICLE">
         <validTransfers
               transferId="org.remus.infomngmnt.core.filetransfer">
         </validTransfers>
         <validTransfers
               transferId="org.remus.infomngmnt.core.htmltransfer">
         </validTransfers>
         <validTransfers
               transferId="org.remus.infomngmnt.core.texttransfer">
         </validTransfers>
      </information>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.remus.infomngmnt.bibliographic.category"
            name="Bibliographic">
      </category>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewBookWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/book_blue_new.png"
            id="org.remus.infomngmnt.bibliographic.newBookWizard"
            name="Book">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewArticleWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/newspaper_new.png"
            id="org.remus.infomngmnt.bibliographic.newArticleWizard"
            name="Article">
      </wizard>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.BookEditPage"
            icon="icons/iconexperience/book_blue_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editBookPage"
            label="Edit Book"
            type="BOOK">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.ArticleEditPage"
            icon="icons/iconexperience/newspaper_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editArticlePage"
            label="Edit Article"
            type="ARTICLE">
      </editPage>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.remus.infomngmnt.bibliographic.exportCategory"
            name="Bibliographic">
      </category>
      <wizard
            category="org.remus.infomngmnt.bibliographic.exportCategory"
            class="org.remus.infomngmnt.bibliographic.ui.XmlExportWizard"
            id="org.remus.infomngmnt.bibliographic.xmlExportWizard"
            name="BibTeXML file">
         <description>
            This wizard exports the bibliographic entries to a XML file.
         </description>
      </wizard>
   </extension>

</plugin>
