<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.informationType">
      <information
            excludeFromIndex="false"
            name="Book"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="BOOK">
      </information>
      <information
            excludeFromIndex="false"
            name="Article"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="ARTICLE">
      </information>
      <information
            excludeFromIndex="false"
            name="Booklet"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="BOOKLET">
      </information>
      <information
            excludeFromIndex="false"
            name="Conference"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="CONFERENCE">
      </information>
      <information
            excludeFromIndex="false"
            name="Inbook"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="INBOOK">
      </information>
      <information
            excludeFromIndex="false"
            name="Incollection"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="INCOLLECTION">
      </information>
      <information
            excludeFromIndex="false"
            name="Inproceedings"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="INPROCEEDINGS">
      </information>
      <information
            excludeFromIndex="false"
            name="Manual"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="MANUAL">
      </information>
      <information
            excludeFromIndex="false"
            name="Mastersthesis"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="MASTERSTHESIS">
      </information>
      <information
            excludeFromIndex="false"
            name="Misc"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="MISC">
      </information>
      <information
            excludeFromIndex="false"
            name="Phdthesis"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="PHDTHESIS">
      </information>
      <information
            excludeFromIndex="false"
            name="Proceedings"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="PROCEEDINGS">
      </information>
      <information
            excludeFromIndex="false"
            name="Techreport"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="TECHREPORT">
      </information>
      <information
            excludeFromIndex="false"
            name="Unpublished"
            presentation="org.remus.infomngmnt.bibliographic.extension.BibliographicRepresentation"
            structuredefinition="structuredefinition/bibliographicUnit.xmi"
            type="UNPUBLISHED">
      </information>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.remus.infomngmnt.bibliographic.category"
            name="Bibliographic">
      </category>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewBookWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/book_blue_new.png"
            id="org.remus.infomngmnt.bibliographic.newBookWizard"
            name="Book">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewArticleWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/newspaper_new.png"
            id="org.remus.infomngmnt.bibliographic.newArticleWizard"
            name="Article">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewBookletWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/booklet_blue_new.png"
            id="org.remus.infomngmnt.bibliographic.newBookletWizard"
            name="Booklet">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewConferenceWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/conference_new.png"
            id="org.remus.infomngmnt.bibliographic.newConferenceWizard"
            name="Conference">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewInbookWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/inbook_new.png"
            id="org.remus.infomngmnt.bibliographic.newInbookWizard"
            name="Inbook">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewIncollectionWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/inbook_new.png"
            id="org.remus.infomngmnt.bibliographic.newIncollectionWizard"
            name="Incollection">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewInproceedingsWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/conference_new.png"
            id="org.remus.infomngmnt.bibliographic.newInproceedingsWizard"
            name="Inproceedings">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewManualWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/manual_new.png"
            id="org.remus.infomngmnt.bibliographic.newManualWizard"
            name="Manual">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewMastersthesisWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/thesis_new.png"
            id="org.remus.infomngmnt.bibliographic.newMastersthesisWizard"
            name="Mastersthesis">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewMiscWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/misc_new.png"
            id="org.remus.infomngmnt.bibliographic.newMiscWizard"
            name="Misc">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewPhdthesisWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/thesis_new.png"
            id="org.remus.infomngmnt.bibliographic.newPhdthesisWizard"
            name="Phdthesis">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewProceedingsWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/conference_new.png"
            id="org.remus.infomngmnt.bibliographic.newProceedingsWizard"
            name="Proceedings">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewTechreportWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/techreport_new.png"
            id="org.remus.infomngmnt.bibliographic.newTechreportWizard"
            name="Techreport">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.category"
            class="org.remus.infomngmnt.bibliographic.ui.NewUnpublishedWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/unpublished_new.png"
            id="org.remus.infomngmnt.bibliographic.newUnpublishedWizard"
            name="Unpublished">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.remus.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditBookPage"
            icon="icons/iconexperience/book_blue_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editBookPage"
            label="Edit Book"
            type="BOOK">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditArticlePage"
            icon="icons/iconexperience/newspaper_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editArticlePage"
            label="Edit Article"
            type="ARTICLE">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditBookletPage"
            icon="icons/iconexperience/booklet_blue_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editBookletPage"
            label="Edit Booklet"
            type="BOOKLET">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditConferencePage"
            icon="icons/iconexperience/conference_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editConferencePage"
            label="Edit Conference"
            type="CONFERENCE">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditInbookPage"
            icon="icons/iconexperience/inbook_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editInbookPage"
            label="Edit Inbook"
            type="INBOOK">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditIncollectionPage"
            icon="icons/iconexperience/inbook_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editIncollectionPage"
            label="Edit Incollection"
            type="INCOLLECTION">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditInproceedingsPage"
            icon="icons/iconexperience/conference_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editInproceedingsPage"
            label="Edit Inproceedings"
            type="INPROCEEDINGS">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditManualPage"
            icon="icons/iconexperience/manual_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editManualPage"
            label="Edit Manual"
            type="MANUAL">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditMastersthesisPage"
            icon="icons/iconexperience/thesis_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editMastersthesisPage"
            label="Edit Mastersthesis"
            type="MASTERSTHESIS">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditMiscPage"
            icon="icons/iconexperience/misc_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editMiscPage"
            label="Edit Misc"
            type="MISC">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditPhdthesisPage"
            icon="icons/iconexperience/thesis_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editPhdthesisPage"
            label="Edit Phdthesis"
            type="PHDTHESIS">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditProceedingsPage"
            icon="icons/iconexperience/conference_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editProceedingsPage"
            label="Edit Proceedings"
            type="PROCEEDINGS">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditTechreportPage"
            icon="icons/iconexperience/techreport_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editTechreportPage"
            label="Edit Techreport"
            type="TECHREPORT">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditUnpublishedPage"
            icon="icons/iconexperience/unpublished_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editUnpublishedPage"
            label="Edit Unpublished"
            type="UNPUBLISHED">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/book_blue_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralBookPage"
            label="Edit General Fields"
            type="BOOK">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/newspaper_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralArticlePage"
            label="Edit General Fields"
            type="ARTICLE">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/booklet_blue_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralBookletPage"
            label="Edit General Fields"
            type="BOOKLET">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/conference_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralConferencePage"
            label="Edit General Fields"
            type="CONFERENCE">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/inbook_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralInbookPage"
            label="Edit General Fields"
            type="INBOOK">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/inbook_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralIncollectionPage"
            label="Edit General Fields"
            type="INCOLLECTION">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/conference_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralInproceedingsPage"
            label="Edit General Fields"
            type="INPROCEEDINGS">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/manual_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralManualPage"
            label="Edit General Fields"
            type="MANUAL">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/thesis_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralMastersthesisPage"
            label="Edit General Fields"
            type="MASTERSTHESIS">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/misc_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralMiscPage"
            label="Edit General Fields"
            type="MISC">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/thesis_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralPhdthesisPage"
            label="Edit General Fields"
            type="PHDTHESIS">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/conference_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralProceedingsPage"
            label="Edit General Fields"
            type="PROCEEDINGS">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/techreport_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralTechreportPage"
            label="Edit General Fields"
            type="TECHREPORT">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.bibliographic.ui.EditGeneralPage"
            icon="icons/iconexperience/unpublished_edit.png"
            id="org.remus.infomngmnt.bibliographic.ui.editGeneralUnpublishedPage"
            label="Edit General Fields"
            type="UNPUBLISHED">
      </editPage>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.remus.infomngmnt.bibliographic.exportCategory"
            name="Bibliographic">
      </category>
      <wizard
            category="org.remus.infomngmnt.bibliographic.exportCategory"
            class="org.remus.infomngmnt.bibliographic.ui.XmlExportWizard"
            id="org.remus.infomngmnt.bibliographic.xmlExportWizard"
            name="BibTeXML file">
         <description>
            This wizard exports the bibliographic entries to a XML file.
         </description>
      </wizard>
      <wizard
            category="org.remus.infomngmnt.bibliographic.exportCategory"
            class="org.remus.infomngmnt.bibliographic.ui.BibtexExportWizard"
            id="org.remus.infomngmnt.bibliographic.bibtexExportWizard"
            name="BibTex file">
         <description>
            This wizard exports the bibliographic entries to a bibtex file.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.remus.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/book_blue.png"
            infotype="BOOK">
      </image>
      <image
            image="icons/iconexperience/newspaper.png"
            infotype="ARTICLE">
      </image>
      <image
            image="icons/iconexperience/booklet_blue.png"
            infotype="BOOKLET">
      </image>
      <image
            image="icons/iconexperience/conference.png"
            infotype="CONFERENCE">
      </image>
      <image
            image="icons/iconexperience/inbook.png"
            infotype="INBOOK">
      </image>
      <image
            image="icons/iconexperience/conference.png"
            infotype="INPROCEEDINGS">
      </image>
      <image
            image="icons/iconexperience/inbook.png"
            infotype="INCOLLECTION">
      </image>
      <image
            image="icons/iconexperience/manual.png"
            infotype="MANUAL">
      </image>
      <image
            image="icons/iconexperience/thesis.png"
            infotype="MASTERSTHESIS">
      </image>
      <image
            image="icons/iconexperience/misc.png"
            infotype="MISC">
      </image>
      <image
            image="icons/iconexperience/thesis.png"
            infotype="PHDTHESIS">
      </image>
      <image
            image="icons/iconexperience/conference.png"
            infotype="PROCEEDINGS">
      </image>
      <image
            image="icons/iconexperience/techreport.png"
            infotype="TECHREPORT">
      </image>
      <image
            image="icons/iconexperience/unpublished.png"
            infotype="UNPUBLISHED">
      </image>
   </extension>
   <extension
         point="org.eclipse.remus.ui.rules.ruleDefinition">
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="BOOKLET">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="BOOKLET">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="BOOKLET">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="CONFERENCE">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="CONFERENCE">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="CONFERENCE">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="INBOOK">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="INBOOK">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="INBOOK">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="INCOLLECTION">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="INCOLLECTION">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="INCOLLECTION">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="INPROCEEDINGS">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="INPROCEEDINGS">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="INPROCEEDINGS">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="MANUAL">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="MANUAL">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="MANUAL">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="MASTERSTHESIS">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="MASTERSTHESIS">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="MASTERSTHESIS">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="MISC">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="MISC">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="MISC">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="PHDTHESIS">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="PHDTHESIS">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="PHDTHESIS">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="PROCEEDINGS">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="PROCEEDINGS">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="PROCEEDINGS">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="TECHREPORT">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="TECHREPORT">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="TECHREPORT">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="UNPUBLISHED">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="UNPUBLISHED">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="UNPUBLISHED">
      </validTransfers>
   </extension>

</plugin>
