<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.remote.remoteRepository">
      <repository-connector
            class="org.remus.infomngmnt.connector.modeshape.ModeshapeConnector"
            credentialprovider="org.remus.infomngmnt.connector.modeshape.ModeshapeCredentialProvider"
            id="org.remus.infomngmnt.connector.modeshape.repository-connector"
            name="JBoss Modeshape">
      </repository-connector>
   </extension>
   <extension
         point="org.eclipse.remus.ui.remote.repositoryUi">
      <respository
            icon="icons/modeshape_icon_16px_med.png"
            id="org.remus.infomngmnt.connector.modeshape.respository1"
            newWizard="org.remus.infomngmnt.connector.modeshape.ui.NewModeshapeRepositoryWizard"
            repository-id="org.remus.infomngmnt.connector.modeshape.repository-connector">
      </respository>
   </extension>

</plugin>
