<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.ui.editor.informationUi">
      <outlineSection
            class="org.remus.infomngmnt.ui.rating.RatingOutline"
            id="org.remus.infomngmnt.ui.rating.outlineSection">
      </outlineSection>
   </extension>

</plugin>
