<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="informationUi" name="informationUi" schema="schema/informationUi.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="org.remus.infomngmnt.ui.newInfoProjectWizard">
      </primaryWizard>
      <primaryWizard
            id="org.remus.infomngmnt.ui.newCategoryWizard">
      </primaryWizard>
      <wizard
            category="org.remus.infomngmnt.ui.general"
            class="org.remus.infomngmnt.ui.project.NewProjectWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            id="org.remus.infomngmnt.ui.newInfoProjectWizard"
            name="Information Project"
            project="true">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.ui.general"
            class="org.remus.infomngmnt.ui.category.NewCategoryWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            id="org.remus.infomngmnt.ui.newCategoryWizard"
            name="Category">
      </wizard>
      <category
            id="org.remus.infomngmnt.ui.general"
            name="General">
      </category>
      <category
            id="org.remus.infomngmnt.ui.simple"
            name="Simple">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.remus.infomngmnt.ui.perspective.Perspective"
            id="org.remus.infomngmnt.ui.infoperspective"
            name="Information Management">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.remus.infomngmnt.ui.views.NavigationView"
            id="org.remus.infomngmnt.ui.views.NavigationView"
            name="Navigation">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.ui.newInfoProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.remus.infomngmnt.ui.newCategoryWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.remus.infomngmnt.ui.editors.InformationEditor"
            contributorClass="org.remus.infomngmnt.ui.editors.InformationMultiPageEditorContributor"
            extensions="infomngmnt"
            icon="icons/sample.gif"
            id="org.remus.infomngmnt.ui.editors.InformationEditor"
            name="InformationInfoEditor">
      </editor>
   </extension>

</plugin>
