<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="informationUi" name="informationUi" schema="schema/informationUi.exsd"/>
   <extension-point id="repositoryUI" name="repositoryUI" schema="schema/repositoryUI.exsd"/>
   <extension-point id="collapsibleButtonBar" name="collapsibleButtonBar" schema="schema/collapsibleButtonBar.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="org.remus.infomngmnt.ui.newInfoProjectWizard">
      </primaryWizard>
      <primaryWizard
            id="org.remus.infomngmnt.ui.newCategoryWizard">
      </primaryWizard>
      <wizard
            category="org.remus.infomngmnt.ui.general"
            class="org.remus.infomngmnt.ui.project.NewProjectWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/16/folder_green_new.png"
            id="org.remus.infomngmnt.ui.newInfoProjectWizard"
            name="Information Project"
            project="true">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.ui.general"
            class="org.remus.infomngmnt.ui.category.NewCategoryWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/16/folder_blue_new.png"
            id="org.remus.infomngmnt.ui.newCategoryWizard"
            name="Category">
      </wizard>
      <category
            id="org.remus.infomngmnt.ui.general"
            name="General">
      </category>
      <category
            id="org.remus.infomngmnt.ui.simple"
            name="Simple">
      </category>
      <category
            id="org.remus.infomngmnt.ui.business"
            name="Business">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.remus.infomngmnt.ui.perspective.Perspective"
            icon="icons/rim_icon.png"
            id="org.remus.infomngmnt.ui.infoperspective"
            name="Information Management">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.remus.infomngmnt.ui.views.MainViewPart"
            icon="icons/iconexperience/16/document.png"
            id="org.remus.infomngmnt.ui.main"
            name="Main"
            restorable="true">
      </view>
      <view
            class="org.remus.infomngmnt.ui.views.NotificationView"
            id="org.remus.infomngmnt.ui.views.NotificationView"
            name="Notifications"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.ui.newInfoProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.remus.infomngmnt.ui.newCategoryWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.remus.infomngmnt.ui.editors.InformationEditor"
            contributorClass="org.remus.infomngmnt.ui.editors.InfomngmntActionBarContributor"
            extensions="info"
            icon="icons/iconexperience/16/document.png"
            id="org.remus.infomngmnt.ui.editors.InformationEditor"
            name="InformationEditor">
      </editor>
      <editor
            class="org.remus.infomngmnt.ui.calendar.CalendarEditor"
            default="false"
            extensions="calendar"
            icon="icons/iconexperience/16/calendar.png"
            id="org.remus.infomngmnt.ui.calendar.CalendarEditor"
            name="Calendar">
      </editor>
      <editor
            class="org.remus.infomngmnt.welcome.WelcomeEditor2"
            default="false"
            icon="icons/iconexperience/16/earth.png"
            id="org.remus.infomngmnt.welcome.WelcomeEditor"
            name="Welcome to RIM!">
      </editor>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.remus.infomngmnt.ui.preference.UIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.remus.infomngmnt.common.ui.traySection">
      <sectionBox
            id="org.remus.infomngmnt.ui.dropBox"
            multiple="true"
            name="Drop-Section"
            preferencesclass="org.remus.infomngmnt.ui.tray.DropSectionPreferencePage"
            sectionControl="org.remus.infomngmnt.ui.tray.DropSection">
      </sectionBox>
      <sectionBox
            id="org.remus.infomngmnt.ui.clock"
            multiple="false"
            name="Clock"
            sectionControl="org.remus.infomngmnt.ui.tray.ClockTray">
      </sectionBox>
      <sectionBox
            id="org.remus.infomngmnt.ui.notificationBox"
            multiple="false"
            name="Notification"
            sectionControl="org.remus.infomngmnt.ui.notification.NotificationTraySection">
      </sectionBox>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.remus.infomngmnt.ui.editors.InformationEditorCreationFactory"
            id="org.remus.infomngmnt.infofilefactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.remus.infomngmnt.ui.desktop"
            class="org.remus.infomngmnt.ui.rules.RulePreferencePage"
            id="org.remus.infomngmnt.ui.rules"
            name="Rules">
      </page>
      <page
            class="org.remus.infomngmnt.ui.tray.DesktopPanelPreferencePage"
            id="org.remus.infomngmnt.ui.desktop"
            name="Desktop Integration">
      </page>
      <page
            class="org.remus.infomngmnt.ui.preference.RemoteRepositoriesPreferencePage"
            id="org.remus.infomngmnt.ui.repositories"
            name="Remote Repositories">
      </page>
      <page
            class="org.remus.infomngmnt.ui.preference.InformationTypesPreferencePage"
            id="org.remus.infomngmnt.ui.infotypes"
            name="Information Types">
      </page>
      <page
            class="org.remus.infomngmnt.ui.preference.UIPreferencePage"
            id="org.remus.infomngmnt.ui.userinterface"
            name="User Interface">
      </page>
      <page
            category="org.remus.infomngmnt.ui.desktop"
            class="org.remus.infomngmnt.ui.preference.DesktopPanelAppearancePreferencePage"
            id="org.remus.infomngmnt.ui.desktoppanel"
            name="Desktop-Panel">
      </page>
   </extension>
   <extension
         point="org.remus.infomngmnt.common.ui.trayAction">
      <trayAction
            class="org.remus.infomngmnt.ui.trayaction.OpenElementToolItem"
            icon="icons/iconexperience/16/folder_document.png"
            id="org.remus.infomngmnt.ui.openElement"
            name="Open Infotype">
      </trayAction>
      <trayAction
            class="org.remus.infomngmnt.ui.trayaction.RestoreFromTrayToolItem"
            icon="icons/iconexperience/16/fit_to_size.png"
            id="org.remus.infomngmnt.ui.restoreFromTray"
            name="Restore from Tray">
      </trayAction>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.ui.openInfoType"
            name="Open Information-Type">
      </command>
      <command
            categoryId="org.remus.infomngmnt.ui.remusRemoteAction"
            id="org.remus.infomngmnt.ui.newRepository"
            name="Add new Repository">
      </command>
      <command
            categoryId="org.remus.infomngmnt.ui.remusRemoteAction"
            id="org.remus.infomngmnt.ui.shareCategory"
            name="Share Category">
      </command>
      <command
            categoryId="org.remus.infomngmnt.ui.remusRemoteAction"
            id="org.remus.infomngmnt.ui.syncCategory"
            name="Synchronize">
      </command>
      <command
            categoryId="org.remus.infomngmnt.ui.remusRemoteAction"
            id="org.remus.infomngmnt.ui.disconnect"
            name="Disconnect from Repository">
      </command>
      <category
            id="org.remus.infomngmnt.ui.remusRemoteAction"
            name="Synchronization Commands for Information Types">
      </category>
      <command
            id="org.remus.infomngmnt.ui.commitCommand"
            name="Commit">
      </command>
      <command
            id="org.remus.infomngmnt.ui.addToRepository"
            name="Add to Remote Repository">
      </command>
      <command
            id="org.remus.infomngmnt.ui.replaceCommand"
            name="Replace with Repository Content">
      </command>
      <command
            defaultHandler="org.remus.infomngmnt.ui.handler.OpenWelcomeHandler"
            id="org.remus.infomngmnt.ui.openWelcome"
            name="Welcome">
      </command>
      <command
            id="org.remus.infomngmnt.ui.ignoreForSynchronization"
            name="Add to Sync-Ignore">
      </command>
      <command
            id="org.remus.infomngmnt.ui.projectmanagement"
            name="Project-Management">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.ui.handler.OpenInfoTypeHandler"
            commandId="org.remus.infomngmnt.ui.openInfoType">
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.handler.NewRepositoryHandler"
            commandId="org.remus.infomngmnt.ui.newRepository">
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.handler.ShareCategoryHandler"
            commandId="org.remus.infomngmnt.ui.shareCategory">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     property="org.remus.infomngmnt.ui.canAdd">
               </test>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.handler.SynchronizeCategoryHandler"
            commandId="org.remus.infomngmnt.ui.syncCategory">
         <activeWhen>
            <reference
                  definitionId="selectionAreRemoteCategories">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.handler.DisonnectRespositoryHandler"
            commandId="org.remus.infomngmnt.ui.disconnect">
         <activeWhen>
            <reference
                  definitionId="selectionAreRemoteCategories">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.handler.CommitHandler"
            commandId="org.remus.infomngmnt.ui.commitCommand">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <instanceof
                        value="org.remus.infomngmnt.SynchronizableObject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.remus.infomngmnt.ui.canCommitOrReplace">
                  </test>
               </iterate>
            </with></activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.handler.ShareItemHandler"
            commandId="org.remus.infomngmnt.ui.addToRepository">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <instanceof
                        value="org.remus.infomngmnt.SynchronizableObject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.remus.infomngmnt.ui.canAdd">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.handler.ReplaceHandler"
            commandId="org.remus.infomngmnt.ui.replaceCommand">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <instanceof
                        value="org.remus.infomngmnt.SynchronizableObject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.remus.infomngmnt.ui.canCommitOrReplace">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.handler.AddToSyncIgnoreHandler"
            commandId="org.remus.infomngmnt.ui.ignoreForSynchronization">
         <activeWhen>
            <reference
                  definitionId="selectionCanBeFiltered">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.handler.OpenProjectManagerHandler"
            commandId="org.remus.infomngmnt.ui.projectmanagement">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.remus.infomngmnt.ui.openInfoType"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
      <key
            commandId="org.remus.infomngmnt.ui.newRepository"
            contextId="org.remus.infomngmnt.ui.repositories"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Y">
      </key>
      <key
            commandId="org.remus.infomngmnt.ui.shareCategory"
            contextId="org.remus.infomngmnt.ui.navigationContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+R">
      </key>
      <key
            commandId="org.remus.infomngmnt.ui.syncCategory"
            contextId="org.remus.infomngmnt.ui.navigationContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+T">
      </key>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.collapsibleButtonBar">
      <collapsibleButton
            bigImage="icons/iconexperience/24/workplace.png"
            class="org.remus.infomngmnt.ui.collapsiblebuttons.NavigationSection"
            contextId="org.remus.infomngmnt.ui.navigationContext"
            icon="icons/iconexperience/16/workplace.png"
            id="org.remus.infomngmnt.ui.navigation"
            name="Navigation"
            order="10"
            tooltip="Navigation">
      </collapsibleButton>
      <collapsibleButton
            bigImage="icons/iconexperience/24/bookmark_silver.png"
            class="org.remus.infomngmnt.ui.collapsiblebuttons.TagSection"
            icon="icons/iconexperience/16/bookmark_silver.png"
            id="org.remus.infomngmnt.ui.tags"
            name="Tags"
            order="20"
            tooltip="Tags">
      </collapsibleButton>
      <collapsibleButton
            bigImage="icons/iconexperience/24/server_network.png"
            class="org.remus.infomngmnt.ui.collapsiblebuttons.RemoteRepositoriesButtonBar"
            contextId="org.remus.infomngmnt.ui.repositories"
            icon="icons/iconexperience/16/server_network.png"
            id="org.remus.infomngmnt.ui.repositories"
            name="Remote Repositories"
            order="30"
            tooltip="Remote Repositories Tooltip">
      </collapsibleButton>
      <collapsibleButton
            bigImage="icons/iconexperience/24/calendar.png"
            class="org.remus.infomngmnt.ui.collapsiblebuttons.CalendarSection"
            icon="icons/iconexperience/16/calendar.png"
            id="org.remus.infomngmnt.ui.collapsiblebuttons.CalendarSection"
            name="Calendar"
            order="25">
      </collapsibleButton>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.remus.infomngmnt.RemoteRepository"
            class="org.remus.infomngmnt.ui.adapter.RemoteRepositoryAdapterFactory">
         <adapter
               type="org.remus.infomngmnt.RemoteRepository">
         </adapter>
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.remus.infomngmnt.RemoteContainer"
            class="org.remus.infomngmnt.ui.adapter.RemoteRepositoryAdapterFactory">
         <adapter
               type="org.remus.infomngmnt.RemoteContainer">
         </adapter>
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.remus.infomngmnt.RemoteObject"
            class="org.remus.infomngmnt.ui.adapter.RemoteRepositoryAdapterFactory">
         <adapter
               type="org.remus.infomngmnt.RemoteObject">
         </adapter>
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.remus.infomngmnt.ui.navigationContext"
            name="Main View - Navigation Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
      <context
            id="org.remus.infomngmnt.ui.repositories"
            name="Main View - Repository Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.remus.infomngmnt.ui.remote.decorator.SynchronizationDecorator"
            id="org.remus.infomngmnt.ui.syncDecorator"
            label="SynchronizationLabelDecorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.remus.infomngmnt.ui.navigation?after=sync">
         <menu
               label="Remote Synchronization"
               mnemonic="e">
            <command
                  commandId="org.remus.infomngmnt.ui.syncCategory"
                  icon="icons/iconexperience/16/server_client_exchange.png"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.remus.infomngmnt.ui.shareCategory"
                  icon="icons/iconexperience/16/server_from_client.png"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <separator
                  name="org.remus.infomngmnt.ui.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.remus.infomngmnt.ui.commitCommand"
                  icon="icons/iconexperience/16/arrow2_right_green.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
            </command>
            <command
                  commandId="org.remus.infomngmnt.ui.addToRepository"
                  icon="icons/iconexperience/16/server_from_client.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
            </command>
            <command
                  commandId="org.remus.infomngmnt.ui.replaceCommand"
                  icon="icons/iconexperience/16/arrow2_left_red.png"
                  style="push">
            </command>
            <separator
                  name="org.remus.infomngmnt.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.remus.infomngmnt.ui.ignoreForSynchronization"
                  icon="icons/iconexperience/16/funnel.png"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.remus.infomngmnt.ui.disconnect"
                  icon="icons/iconexperience/16/server_delete.png"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:help?after=help-primary-additions-start">
         <command
               commandId="org.remus.infomngmnt.ui.openWelcome"
               icon="icons/iconexperience/16/earth.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:window?after=additions">
         <command
               commandId="org.remus.infomngmnt.ui.projectmanagement"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="org.remus.infomngmnt.ui.trimtoolbar">
            <control
                  class="org.remus.infomngmnt.ui.notification.NotificationTrimArea">
            </control>
         </toolbar>
         <toolbar
               id="org.remus.infomngmnt.ui.todayToolbar">
            <control
                  class="org.remus.infomngmnt.ui.calendar.TodayTrimArea">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="selectionAreCategories">
         <iterate
               ifEmpty="false"
               operator="and">
            <instanceof
                  value="org.remus.infomngmnt.Category">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="selectionAreRemoteCategories">
         <and>
            <reference
                  definitionId="selectionAreCategories">
            </reference>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="org.remus.infomngmnt.SynchronizationMetadata">
               </adapt>
            </iterate>
         </and>
      </definition>
      <definition
            id="selectionAreLocalCategories">
         <and>
            <reference
                  definitionId="selectionAreCategories">
            </reference>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <not>
                  <adapt
                        type="org.remus.infomngmnt.SynchronizationMetadata">
                  </adapt>
               </not>
            </iterate>
         </and>
      </definition>
      <definition
            id="selectionIsUnderSyncControl">
         <iterate
               ifEmpty="false"
               operator="and">
            <test
                  property="org.remus.infomngmnt.ui.isUnderSyncControl">
            </test>
         </iterate>
      </definition>
      <definition
            id="selectionCanBeFiltered">
         <iterate
               ifEmpty="false"
               operator="and">
            <test
                  property="org.remus.infomngmnt.ui.canIgnore">
            </test>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.remus.infomngmnt.ui.propertytester.SynchronizableObjectItemTester"
            id="org.remus.infomngmnt.ui.ISynchronizableObjectTest"
            namespace="org.remus.infomngmnt.ui"
            properties="canCommitOrReplace, canAdd, isUnderSyncControl, canIgnore, repositoryIdEquals, syncStateEquals"
            type="org.remus.infomngmnt.SynchronizableObject">
      </propertyTester>
      <propertyTester
            class="org.remus.infomngmnt.ui.propertytester.InfoUnitTypeTester"
            id="org.remus.infomngmnt.ui.InfoUnitTypeTest"
            namespace="org.remus.infomngmnt.iutypes"
            properties="typeEquals"
            type="org.remus.infomngmnt.AbstractInformationUnit">
      </propertyTester>
   </extension>
   <extension
         point="org.remus.infomngmnt.core.postProjectHandle">
      <projectHandle
            handle="org.remus.infomngmnt.ui.calendar.CalendarIndexingHandle">
      </projectHandle>
   </extension>
   <extension
         id="calendarEntryBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.remus.infomngmnt.ui.calendar.CalendarBuilder">
         </run></builder>
   </extension>

</plugin>
