<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="repositoryUI" name="repositoryUI" schema="schema/repositoryUI.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="org.remus.infomngmnt.ui.newInfoProjectWizard">
      </primaryWizard>
      <primaryWizard
            id="org.remus.infomngmnt.ui.newCategoryWizard">
      </primaryWizard>
      <wizard
            category="org.remus.infomngmnt.ui.general"
            class="org.remus.infomngmnt.ui.project.NewProjectWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/16/folder_green_new.png"
            id="org.remus.infomngmnt.ui.newInfoProjectWizard"
            name="Information Project"
            project="true">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.ui.general"
            class="org.remus.infomngmnt.ui.category.NewCategoryWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/16/folder_blue_new.png"
            id="org.remus.infomngmnt.ui.newCategoryWizard"
            name="Category">
      </wizard>
      <category
            id="org.remus.infomngmnt.ui.general"
            name="General">
      </category>
      <category
            id="org.remus.infomngmnt.ui.simple"
            name="Simple">
      </category>
      <category
            id="org.remus.infomngmnt.ui.business"
            name="Business">
      </category>
   </extension>
  
   <extension
         point="org.eclipse.ui.views">
     
      
      <category
            id="org.remus.infomngmnt.ui.viewcategory"
            name="Remus">
      </category>
   </extension>
   
   
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.remus.infomngmnt.ui.preference.UIPreferenceInitializer">
      </initializer>
   </extension>
  
  
   <extension
         point="org.eclipse.ui.preferencePages">
      
      <page
            category="org.remus.infomngmnt.ui.main"
            class="org.remus.infomngmnt.ui.preference.RemoteRepositoriesPreferencePage"
            id="org.remus.infomngmnt.ui.repositories"
            name="Remote Repositories">
      </page>
      <page
            category="org.remus.infomngmnt.ui.main"
            class="org.remus.infomngmnt.ui.preference.InformationTypesPreferencePage"
            id="org.remus.infomngmnt.ui.infotypes"
            name="Information Types">
      </page>
      <page
            category="org.remus.infomngmnt.ui.main"
            class="org.remus.infomngmnt.ui.preference.UIPreferencePage"
            id="org.remus.infomngmnt.ui.userinterface"
            name="User Interface">
      </page>
      
      <page
            class="org.remus.infomngmnt.ui.preference.RemusPreferencePage"
            id="org.remus.infomngmnt.ui.main"
            name="Remus">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.ui.openInfoType"
            name="Open Information-Type">
      </command>
      <command
            defaultHandler="org.remus.infomngmnt.ui.handler.SwitchToInfoPerspective"
            id="org.remus.infomngmnt.ui.switch2infoPerspective"
            name="Back to Information Management">
      </command>
      <command
            id="org.remus.infomngmnt.ui.CopyTextToClipboard"
            name="Copy text to clipboard">
         <commandParameter
               id="text"
               name="Text-Content"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.ui.handler.OpenInfoTypeHandler"
            commandId="org.remus.infomngmnt.ui.openInfoType">
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.handler.CopyTextToClipboardHandler"
            commandId="org.remus.infomngmnt.ui.CopyTextToClipboard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.remus.infomngmnt.ui.openInfoType"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
      <key
            commandId="org.remus.infomngmnt.ui.newRepository"
            contextId="org.remus.infomngmnt.ui.repositories"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Y">
      </key>
      <key
            commandId="org.remus.infomngmnt.ui.shareCategory"
            contextId="org.remus.infomngmnt.ui.navigationContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+R">
      </key>
      <key
            commandId="org.remus.infomngmnt.ui.syncCategory"
            contextId="org.remus.infomngmnt.ui.navigationContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+T">
      </key>
   </extension>
  
  
   
  
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="selectionAreCategories">
         <iterate
               ifEmpty="false"
               operator="and">
            <instanceof
                  value="org.remus.infomngmnt.Category">
            </instanceof>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      
      <propertyTester
            class="org.remus.infomngmnt.ui.propertytester.InfoUnitTypeTester"
            id="org.remus.infomngmnt.ui.InfoUnitTypeTest"
            namespace="org.remus.infomngmnt.iutypes"
            properties="typeEquals"
            type="org.remus.infomngmnt.AbstractInformationUnit">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.remus.infomngmnt.ui.switch2infoPerspective"
            icon="IMG_TOOL_BACK">
      </image>
   </extension>

</plugin>
