<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            creationFactory="org.remus.infomngmnt.sourcecode.AbstractCreationFactory:1"
            icon="icons/source.png"
            name="Source Code"
            presentation="org.remus.infomngmnt.sourcecode.core.SourceCodeInformationRepresentation"
            type="SOURCE">
         <validTransfers
               transferId="org.remus.infomngmnt.core.texttransfer">
         </validTransfers>
      </information>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.remus.infomngmnt.sourcecode.wizard.NewSourceCodeWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            id="org.remus.infomngmnt.sourcecode.newWizard"
            name="Source Code">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.remus.infomngmnt.sourcecode.prefs.SourceCodePreferencePage"
            id="org.remus.infomngmnt.sourcecode.sourcePref"
            name="Source-Code">
      </page>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.remus.infomngmnt.sourcecode.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.sourcecode.editor.EditSourcePage"
            icon="icons/source.png"
            id="org.remus.infomngmnt.sourcecode.editPage"
            label="Edit Source"
            type="SOURCE">
      </editPage>
      <creationUiTrigger
            class="org.remus.infomngmnt.sourcecode.wizard.SourceCodeCreationTrigger"
            typeId="SOURCE">
      </creationUiTrigger>
      <transferpreferences
            implementation="org.remus.infomngmnt.sourcecode.prefs.SourceCodeRulePreferencePage"
            transferId="org.remus.infomngmnt.core.texttransfer"
            typeId="SOURCE">
      </transferpreferences>
   </extension>

</plugin>
