<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            buildHtml="false"
            creationFactory="org.remus.infomngmnt.contact.core.ContactCreationFactory"
            icon="icons/iconexperience/contact.png"
            name="Contact"
            presentation="org.remus.infomngmnt.contact.AbstractInformationRepresentation"
            type="CONTACT">
      </information>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.contact.ui.EditContactPage"
            icon="icons/iconexperience/contact.png"
            id="org.remus.infomngmnt.contact.editPage1"
            label="Edit Contact"
            type="CONTACT">
      </editPage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.remus.infomngmnt.contact.NewContactWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/contact_new.png"
            id="org.remus.infomngmnt.contact.newContactWizard"
            name="Contact">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.contact.newContactWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
