<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            creationFactory="org.remus.infomngmnt.plaintext.extension.UnformattedTextCreationFactory"
            icon="icons/iconexperience/text.png"
            name="Unformatted Text"
            presentation="org.remus.infomngmnt.plaintext.extension.PlainTextInformationRepresentation"
            type="PLAINTEXT">
         <validTransfers
               transferId="org.remus.infomngmnt.core.htmltransfer">
         </validTransfers>
         <validTransfers
               transferId="org.remus.infomngmnt.core.urlTransfer">
         </validTransfers>
         <validTransfers
               transferId="org.remus.infomngmnt.core.texttransfer">
         </validTransfers>
      </information>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.simple"
            class="org.remus.infomngmnt.plaintext.wizard.NewPlainTextWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/text_new.png"
            id="org.remus.infomngmnt.plaintext.wizard"
            name="Plain Text">
      </wizard>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.plaintext.ui.FormPage"
            icon="icons/iconexperience/text_edit.png"
            id="editPage1"
            label="Edit"
            type="PLAINTEXT">
      </editPage>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.plaintext.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
