<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            icon="icons/text.png"
            presentation="org.remus.infomngmnt.plaintext.extension.PlainTextInformationRepresentation"
            type="PLAINTEXT">
      </information>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.simple"
            class="org.remus.infomngmnt.plaintext.wizard.NewPlainTextWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            id="org.remus.infomngmnt.plaintext.wizard"
            name="Plain Text">
      </wizard>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.plaintext.ui.FormPage"
            icon="icons/text.png"
            id="editPage1"
            label="Edit"
            type="PLAINTEXT">
      </editPage>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.plaintext.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
