<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.remote.remoteRepository">
      <repository-connector
            class="org.remus.infomngmnt.connector.youtube.readonly.YoutubeConnector"
            credentialprovider="org.remus.infomngmnt.connector.youtube.readonly.YoutubeRedonlyCredentials"
            id="org.remus.infomngmnt.connector.youtube"
            name="Youtube">
      </repository-connector>
   </extension>
   <extension
         point="org.eclipse.remus.ui.remote.repositoryUi">
      <respository
            icon="icons/youtube.png"
            id="org.remus.infomngmnt.connector.youtube.respository1"
            newWizard="org.remus.infomngmnt.connector.youtube.readonly.NewReadonlyYoutubeRepositoryWizard"
            repository-id="org.remus.infomngmnt.connector.youtube">
      </respository>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.remus.infomngmnt.connector.youtube.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.remus.ui.repositories"
            class="org.remus.infomngmnt.connector.youtube.preferences.YoutubePreferencePage"
            id="org.remus.infomngmnt.connector.youtube.prefs"
            name="Youtube">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.remus.infomngmnt.ui.navigation?after=iuspecific">
         <menu
               icon="icons/youtube.png"
               id="org.remus.infomngmnt.youtube.contextmenu"
               label="Youtube"
               mnemonic="l">
            <command
                  commandId="org.remus.infomngmnt.connector.youtube.copyEmbed"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <and>
                           <test
                                 property="org.remus.infomngmnt.remote.canCommitOrReplace">
                           </test>
                           <test
                                 property="org.eclipse.remus.remote.repositoryIdEquals"
                                 value="org.remus.infomngmnt.connector.youtube">
                           </test>
                        </and>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.connector.youtube.copyEmbed"
            name="Open Video on Youtube">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.connector.youtube.handler.OpenVideoOnYoutubeHandler"
            commandId="org.remus.infomngmnt.connector.youtube.copyEmbed">
      </handler>
   </extension>

</plugin>
