<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.informationType">
      <information
            excludeFromIndex="false"
            name="%information.name"
            presentation="org.remus.infomngmnt.onlineresource.extension.OnlineMediaInformationRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="ONLINERESOURCE">
      </information>
   </extension>
   <extension
         point="org.eclipse.remus.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/presentation.png"
            infotype="ONLINERESOURCE">
      </image>
   </extension>

</plugin>
