<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension-point id="informationType" name="A pluggable Content-Type for Information" schema="schema/informationType.exsd"/>
 <extension-point id="postProjectHandle" name="postProjectHandle" schema="schema/postProjectHandle.exsd"/>
 <extension-point id="saveParticipant" name="saveParticipant" schema="schema/saveParticipant.exsd"/>
 <extension-point id="job" name="job" schema="schema/job.exsd"/>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.remus.infomngmnt.provider.InfomngmntItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"
            uri="http://remus-software.org/infomngmnt">
      </factory>
   </extension>
   <extension
         id="infobuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.remus.infomngmnt.core.internal.builder.InformationBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.remus.infomngmnt.Category"
            class="org.remus.infomngmnt.core.internal.adapters.CategoryAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IProject">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.remus.infomngmnt.SynchronizationMetadata">
         </adapter>
      </factory>
      <factory
            adaptableType="org.remus.infomngmnt.InformationUnitListItem"
            class="org.remus.infomngmnt.core.internal.adapters.InformationUnitListItemAdapterFactory">
         <adapter
               type="org.remus.infomngmnt.InformationUnit">
         </adapter>
         <adapter
               type="org.remus.infomngmnt.SynchronizationMetadata">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="org.remus.infomngmnt.core.internal.adapters.FileAdapterFactory">
         <adapter
               type="org.remus.infomngmnt.InformationUnitListItem">
         </adapter>
      </factory>
      <factory
            adaptableType="org.remus.infomngmnt.InformationUnit"
            class="org.remus.infomngmnt.core.internal.adapters.InformationUnitAdapterFactory">
         <adapter
               type="org.remus.infomngmnt.InformationUnitListItem">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IFile">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.remus.infomngmnt.core.postProjectHandle">
      <projectHandle
            handle="org.remus.infomngmnt.core.internal.builder.InformationBuilderHandle">
      </projectHandle>
   </extension>
   
   <extension
         point="org.remus.infomngmnt.core.saveParticipant">
      <participant
            class="org.remus.infomngmnt.core.ref.tags.TagSaveParticipant">
      </participant>
   </extension>
   
  

</plugin>
