<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="informationType" name="A pluggable Content-Type for Information" schema="schema/informationType.exsd"/>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.remus.infomngmnt.InfomngmntPackage"
            genModel="model/infomngmnt.genmodel"
            uri="http://remus-software.org/infomngmnt">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.remus.infomngmnt.provider.InfomngmntItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"
            uri="http://remus-software.org/infomngmnt">
      </factory>
   </extension>
   <extension
         id="infobuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.remus.infomngmnt.core.builder.InformationBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.remus.infomngmnt.Category"
            class="org.remus.infomngmnt.core.adapters.CategoryAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IProject">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.remus.infomngmnt.InformationUnitListItem"
            class="org.remus.infomngmnt.core.adapters.InformationUnitListItemAdapterFactory">
         <adapter
               type="org.remus.infomngmnt.InformationUnit">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.remus.infomngmnt.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
  

</plugin>
