<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.remote.remoteRepository">
      <repository-connector
            class="org.remus.infomngmnt.connector.folder.FolderConnector"
            id="org.remus.infomngmnt.connector.folder.folder"
            name="%repository-connector.name">
      </repository-connector>
   </extension>
   <extension
         point="org.eclipse.remus.ui.remote.repositoryUi">
      <respository
            icon="icons/iconexperience/folder.png"
            id="org.remus.infomngmnt.connector.folder.respository1"
            newWizard="org.remus.infomngmnt.connector.folder.ui.NewFolderRepositoryWizard"
            repository-id="org.remus.infomngmnt.connector.folder.folder">
      </respository>
   </extension>

</plugin>
