<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.remote.remoteRepository">
      <repository-connector
      		id="org.remus.infomngmnt.connector.flickr."
            class="org.remus.infomngmnt.connector.flickr.FlickrConnector"
            credentialprovider="org.remus.infomngmnt.connector.flickr.FlickrCredentials"
            name="Flickr">
         <changeDefinition
               id="org.remus.infomngmnt.connector.flickr.changeDefinition1"
               informationType="IMAGE">
            <changeObjectIdValue
                  path="@keywords">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="@label">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="@description">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="originFilePath">
            </changeObjectIdValue>
            <changeObjectId
                  path="links">
            </changeObjectId>
         </changeDefinition>
      </repository-connector>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.remote.repositoryUi">
      <respository
            icon="icons/flickr.png"
            id="org.remus.infomngmnt.connector.flickr.ui"
            newWizard="org.remus.infomngmnt.connector.flickr.ui.NewFlickrRepositoryWizard"
            repository-id="org.remus.infomngmnt.connector.flickr.">
      </respository>
   </extension>

</plugin>
