<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.informationType">
      <information
            excludeFromIndex="false"
            name="%information.name"
            presentation="org.remus.infomngmnt.meetingminutes.extension.MeetingMinutesRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="MEETING">
      </information>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.remus.ui.simple"
            class="org.remus.infomngmnt.meetingminutes.ui.NewMeetingWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/meeting_new.png"
            id="org.remus.infomngmnt.meetingminutes.new"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.remus.ui.editor.informationUi">
      <creationUiTrigger
            class="org.remus.infomngmnt.meetingminutes.ui.NewMeetingWizard"
            typeId="MEETING">
      </creationUiTrigger>
      <editPage
            editpage="org.remus.infomngmnt.meetingminutes.ui.MeetingEditPage"
            icon="icons/iconexperience/edit_meeting.png"
            id="org.remus.infomngmnt.meetingminutes.general"
            label="%edit.editPage.label"
            type="MEETING">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.meetingminutes.ui.AttachmentsEditPage"
            icon="icons/iconexperience/businesspeople2.png"
            id="org.remus.infomngmnt.meetingminutes.attachments"
            label="%attachments.editPage.label"
            type="MEETING">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.meetingminutes.ui.AdditionalLogsPage"
            icon="icons/iconexperience/notebook_edit.png"
            id="org.remus.infomngmnt.meetingminutes.additional"
            label="%logs.editPage.label"
            type="MEETING">
      </editPage>
   </extension>
   <extension
         point="org.eclipse.remus.ui.rules.ruleDefinition">
      <validTransfers
            transferId="org.eclipse.remus.core.urlTransfer"
            typeId="MEETING">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="MEETING">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.rftTransfer"
            typeId="MAIL">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.texttransfer"
            typeId="MEETING">
      </validTransfers>
      <validTransfers
            transferId="org.eclipse.remus.core.htmltransfer"
            typeId="MEETING">
      </validTransfers>
      <creationtrigger
            class="org.remus.infomngmnt.meetingminutes.ui.MeetingMinutesCreationTrigger"
            typeId="MEETING">
      </creationtrigger>
   </extension>
   <extension
         point="org.eclipse.remus.search.indexer">
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="attendees"
            typeId="MEETING">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="moderator"
            typeId="MEETING">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="place"
            typeId="MEETING">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.HtmlAnalyzer"
            node="log"
            typeId="MEETING">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.HtmlAnalyzer"
            node="decisions"
            typeId="MEETING">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.HtmlAnalyzer"
            node="todos"
            typeId="MEETING">
      </index>
   </extension>
   <extension
         point="org.eclipse.remus.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/document_cup.png"
            infotype="MEETING">
      </image>
   </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.meetingminutes.new">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
