<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.remote.remoteRepository">
      <repository-connector
            class="org.remus.infomngmnt.connector.googlecalendar.GoogleCalendarConnector"
            credentialprovider="org.remus.infomngmnt.connector.googlecalendar.GoogleCalendarCredentialProvider"
            id="org.remus.infomngmnt.connector.googlecalendar"
            name="%repository-connector.name">
      </repository-connector>
   </extension>
   <extension
         point="org.eclipse.remus.ui.remote.repositoryUi">
      <respository
            icon="icons/date.png"
            id="org.remus.infomngmnt.connector.googlecalendar.ui"
            newWizard="org.remus.infomngmnt.connector.googlecalendar.ui.NewGoogleCalendarRepositoryWizard"
            repository-id="org.remus.infomngmnt.connector.googlecalendar">
      </respository>
   </extension>

</plugin>
