<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="websearch" name="websearch" schema="schema/websearch.exsd"/>
   <extension
         id="searchBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.remus.infomngmnt.search.builder.SearchBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <view
               closeable="true"
               id="org.remus.infomngmnt.search.ui.view.SearchView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.remus.infomngmnt.search.ui.view.SearchView"
            icon="icons/iconexperience/flashlight.png"
            id="org.remus.infomngmnt.search.ui.view.SearchView"
            name="Search"
            restorable="true">
      </view>
      <view
            class="org.remus.infomngmnt.search.ui.view.SearchHistoryView"
            icon="icons/iconexperience/history.png"
            id="org.remus.infomngmnt.search.ui.view.SearchHistoryView"
            name="Search History"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.remus.infomngmnt.search.gloablSearchBar">
            <control
                  class="org.remus.infomngmnt.search.menu.SearchFieldContribution"
                  id="org.remus.infomngmnt.search.menu.SearchFieldContribution">
            </control>
            <command
                  commandId="org.remus.infomngmnt.search.openSearchView"
                  icon="icons/iconexperience/flashlight.png"
                  label="Open Advanced Search"
                  style="push">
               <parameter
                     name="org.remus.infomngmnt.search.viewId"
                     value="org.remus.infomngmnt.search.ui.view.SearchView">
               </parameter>
            </command>
            <command
                  commandId="org.remus.infomngmnt.search.openSearchView"
                  icon="icons/iconexperience/history.png"
                  label="Open Search History"
                  style="push">
               <parameter
                     name="org.remus.infomngmnt.search.viewId"
                     value="org.remus.infomngmnt.search.ui.view.SearchHistoryView">
               </parameter>
            </command>
         </toolbar>
         <toolbar
               id="org.remus.infomngmnt.search.contextBar">
            <command
                  commandId="org.remus.infomngmnt.search.previousResultItem"
                  icon="icons/iconexperience/arrow_left_blue.png"
                  style="push">
            </command>
            <command
                  commandId="org.remus.infomngmnt.search.nextResultItem"
                  icon="icons/iconexperience/arrow_right_blue.png"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeContexts">
                  <iterate
                        operator="or">
                     <equals
                           value="org.remus.infomngmnt.search.searchcontext">
                     </equals>
                  </iterate>
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.remus.infomngmnt.ui.navigation?after=sync">
         <menu
               label="Search"
               mnemonic="a">
            <command
                  commandId="org.remus.infomngmnt.ui.searchReferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.remus.infomngmnt.core.postProjectHandle">
      <projectHandle
            handle="org.remus.infomngmnt.search.builder.SearchBuilderHandle">
      </projectHandle>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.remus.infomngmnt.search.editor.SearchResultEditor"
            default="false"
            extensions="searchresult"
            icon="images/search.gif"
            id="org.remus.infomngmnt.search.editor.SearchResultEditor"
            name="SearchResult">
      </editor>
   </extension>
   <extension
         point="org.remus.infomngmnt.search.websearch">
      <websearch
            icon="icons/websearch/google.png"
            id="websearch.google"
            name="Google"
            urlpattern="http://www.google.de/search?q={0}&amp;ie=utf-8&amp;oe=utf-8&amp;aq=t&amp;client=remus">
      </websearch>
      <websearch
            icon="icons/websearch/wikipedia.gif"
            id="websearch.wikipedia"
            name="Wikipedia"
            urlpattern="http://en.wikipedia.org/wiki/Special:Search?search={0}&amp;go=Article&amp;sourceid=remus">
      </websearch>
      <websearch
            icon="icons/websearch/yahoo.gif"
            id="websearch.yahoo"
            name="Yahoo"
            urlpattern="http://search.yahoo.com/search?p={0}&amp;ei=UTF-8&amp;fr=remus">
      </websearch>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.remus.infomngmnt.search.preferences.SearchPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.remus.infomngmnt.search.startup.SearchStartup">
      </startup>
   </extension>
   <extension
         point="org.remus.infomngmnt.common.ui.traySection">
      <sectionBox
            id="org.remus.infomngmnt.ui.searchBox"
            multiple="false"
            name="Search"
            sectionControl="org.remus.infomngmnt.search.tray.SearchTray">
      </sectionBox>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.remus.infomngmnt.search.searchcontext"
            name="Search-Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
      <context
            id="org.remus.infomngmnt.search.searchEditorContext"
            name="Search Editor On Top Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.remus.infomngmnt.search.nextResultItem"
            contextId="org.remus.infomngmnt.search.searchcontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_RIGHT">
      </key>
      <key
            commandId="org.remus.infomngmnt.search.previousResultItem"
            contextId="org.remus.infomngmnt.search.searchcontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_LEFT">
      </key>
      <key
            commandId="org.remus.infomngmnt.search.searchAgain"
            contextId="org.remus.infomngmnt.search.searchEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F5">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.search.nextResultItem"
            name="Show next result">
      </command>
      <command
            id="org.remus.infomngmnt.search.previousResultItem"
            name="Show previous result">
      </command>
      <command
            defaultHandler="org.remus.infomngmnt.search.handler.OpenSearchHandler"
            id="org.remus.infomngmnt.search.openSearchView"
            name="name">
         <commandParameter
               id="org.remus.infomngmnt.search.viewId"
               name="viewId"
               optional="true">
         </commandParameter>
      </command>
      <category
            id="org.remus.infomngmnt.ui.searchCategory"
            name="Predefined Search Commands">
      </category>
      <command
            categoryId="org.remus.infomngmnt.ui.searchCategory"
            id="org.remus.infomngmnt.ui.searchReferences"
            name="References">
      </command>
      <command
            id="org.remus.infomngmnt.search.searchAgain"
            name="Search Again">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.search.handler.NextSearchResultHandler"
            commandId="org.remus.infomngmnt.search.nextResultItem">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     operator="or">
                  <equals
                        value="org.remus.infomngmnt.search.searchcontext">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.search.handler.PreviousSearchResultHandler"
            commandId="org.remus.infomngmnt.search.previousResultItem">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     operator="or">
                  <equals
                        value="org.remus.infomngmnt.search.searchcontext">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.remus.infomngmnt.search.handler.SearchReferencesHandler"
            commandId="org.remus.infomngmnt.ui.searchReferences">
      </handler>
      <handler
            class="org.remus.infomngmnt.search.handler.SearchAgainHandler"
            commandId="org.remus.infomngmnt.search.searchAgain">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     operator="or">
                  <equals
                        value="org.remus.infomngmnt.search.searchEditorContext">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
