<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remus.ui.desktop.traySection">
      <sectionBox
            id="org.remus.infomngmnt.password.desktop.pwd"
            multiple="false"
            name="%sectionBox.name"
            sectionControl="org.remus.infomngmnt.password.desktop.PasswordTraySection">
      </sectionBox>
   </extension>

</plugin>
