<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="reporttemplate" name="reporttemplate" schema="schema/reporttemplate.exsd"/>
   <extension
         point="org.eclipse.remus.core.informationType">
      <information
            buildHtml="true"
            excludeFromIndex="true"
            name="%information.name"
            presentation="org.remus.infomngmnt.birtreport.extension.BirtReportRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="REPORT">
      </information>
   </extension>
   <extension
         point="org.eclipse.remus.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.birtreport.ui.ReportParameterPage"
            icon="icons/parameter.gif"
            id="org.remus.infomngmnt.birtreport.editPage"
            label="%editPage.label"
            type="REPORT">
      </editPage>
      <creationUiTrigger
            class="org.remus.infomngmnt.birtreport.wizard.NewReportWizard"
            typeId="REPORT">
      </creationUiTrigger>
      <editorAction
            commandId="org.remus.infomngmnt.birtreport.openExternal"
            typeId="REPORT">
      </editorAction>
      <editorAction
            commandId="org.remus.infomngmnt.birtreport.pdf"
            typeId="REPORT">
      </editorAction>
   </extension>
   <extension
         point="org.remus.infomngmnt.birtreport.reporttemplate">
      <parametertype
            class="org.remus.infomngmnt.birtreport.ui.CategorySelectorControl"
            id="org.remus.infomngmnt.birtreport.categoryselector">
      </parametertype>
      <parametertype
            class="org.remus.infomngmnt.birtreport.ui.InfoTypeSelector"
            id="org.remus.infomngmnt.birtreport.infotypeselector">
      </parametertype>
      <parametertype
            class="org.remus.infomngmnt.birtreport.ui.SpinnerSelectorControl"
            id="org.remus.infomngmnt.birtreport.spinner">
      </parametertype>
      <parametertype
            class="org.remus.infomngmnt.birtreport.ui.TextParameterControl"
            id="org.remus.infomngmnt.birtreport.textfield">
      </parametertype>
      <parametertype
            class="org.remus.infomngmnt.birtreport.ui.DateParameterControl"
            id="org.remus.infomngmnt.birtreport.dateselector">
      </parametertype>
      <template
            id="org.remus.infomngmnt.birtreport.blanktemplate"
            label="%blank.template.label"
            rptfile="templates/blank_report.rptdesign">
      </template>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.business"
            class="org.remus.infomngmnt.birtreport.wizard.NewReportWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/report_new.png"
            id="org.remus.infomngmnt.report.new"
            name="%wizard.name">
      </wizard>
	</extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.remus.infomngmnt.birtreport.handler.OpenInBrowserHandler"
            id="org.remus.infomngmnt.birtreport.openExternal"
            name="%browser.command.name">
      </command>
      <command
            defaultHandler="org.remus.infomngmnt.birtreport.handler.ViewAsPdfHandler"
            id="org.remus.infomngmnt.birtreport.pdf"
            name="%pdf.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.remus.infomngmnt.birtreport.openExternal"
            icon="icons/preview_html.gif">
      </image>
      <image
            commandId="org.remus.infomngmnt.birtreport.pdf"
            icon="icons/nuvola/pdf.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.remus.ui.rules.ruleDefinition">
      <validTransfers
            transferId="org.eclipse.remus.core.filetransfer"
            typeId="REPORT">
      </validTransfers>
      <creationtrigger
            class="org.remus.infomngmnt.birtreport.wizard.BirtCreationTrigger"
            typeId="REPORT">
      </creationtrigger>
   </extension>
   <extension
         point="org.eclipse.remus.ui.infotypes.infotypeimages">
      <image
            image="icons/report.gif"
            infotype="REPORT">
      </image>
   </extension>
</plugin>
