<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            excludeFromIndex="false"
            icon="icons/plugin.gif"
            name="Marketplace Entry"
            presentation="org.remus.infomngmnt.eclipsemarketplace.internal.MarketPlaceInformationRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="MARKETPLACE">
      </information>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.eclipsemarketplace.internal.EditMetaDataPage"
            icon="icons/edit_metadata.png"
            id="org.remus.infomngmnt.eclipsemarketplace.editPage1"
            label="Edit Metadata"
            type="MARKETPLACE">
      </editPage>
   </extension>
   <extension
         point="org.remus.infomngmnt.core.remoteRepository">
      <repository-connector
            class="org.remus.infomngmnt.eclipsemarketplace.connector.MarketplaceConnector"
            icon="icons/eclipse.gif"
            id="org.remus.infomngmnt.eclipsemarketplace.repository"
            name="Eclipse Marketplace">
         <changeDefinition
               id="org.remus.infomngmnt.eclipsemarketplace.changeDefinition"
               informationType="MARKETPLACE">
            <changeObjectIdValue
                  path="@label">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="type">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="owner">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="favorited">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="created">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="changedate">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="foundationmember">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="url">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="version">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="company">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="status">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="eclipseversion">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="supporturl">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="updateurl">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="description">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="internalId">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="imageUrl">
            </changeObjectIdValue>
         </changeDefinition>
      </repository-connector>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.repositoryUI">
      <respository
            id="org.remus.infomngmnt.eclipsemarketplace.respository"
            newWizard="org.remus.infomngmnt.eclipsemarketplace.ui.NewEclipseMarketPlaceWizard"
            repository-id="org.remus.infomngmnt.eclipsemarketplace.repository">
      </respository>
   </extension>

</plugin>
