<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.informationType">
      <information
            excludeFromIndex="false"
            name="%information.name"
            presentation="org.remus.infomngmnt.eclipsemarketplace.internal.MarketPlaceInformationRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="MARKETPLACE">
      </information>
   </extension>
   <extension
         point="org.eclipse.remus.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.eclipsemarketplace.internal.EditMetaDataPage"
            icon="icons/edit_metadata.png"
            id="org.remus.infomngmnt.eclipsemarketplace.editPage1"
            label="%editPage.label"
            type="MARKETPLACE">
      </editPage>
   </extension>
   <extension
         point="org.eclipse.remus.core.remote.remoteRepository">
      <repository-connector
            class="org.remus.infomngmnt.eclipsemarketplace.connector.MarketplaceConnector"
            id="org.remus.infomngmnt.eclipsemarketplace.repository"
            name="%repository-connector.name">
         <changeDefinition
               id="org.remus.infomngmnt.eclipsemarketplace.changeDefinition"
               informationType="MARKETPLACE">
            <changeObjectIdValue
                  path="@label">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="type">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="owner">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="favorited">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="created">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="changedate">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="foundationmember">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="url">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="version">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="company">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="status">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="eclipseversion">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="supporturl">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="updateurl">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="description">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="internalId">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="imageUrl">
            </changeObjectIdValue>
         </changeDefinition>
      </repository-connector>
   </extension>
   <extension
         point="org.eclipse.remus.ui.remote.repositoryUi">
      <respository
            icon="icons/eclipse.gif"
            id="org.remus.infomngmnt.eclipsemarketplace.respository"
            newWizard="org.remus.infomngmnt.eclipsemarketplace.ui.NewEclipseMarketPlaceWizard"
            repository-id="org.remus.infomngmnt.eclipsemarketplace.repository">
      </respository>
   </extension>
   <extension
         point="org.eclipse.remus.search.indexer">
      <index
            analyzer="org.remus.infomngmnt.search.HtmlAnalyzer"
            node="owner"
            typeId="MARKETPLACE">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.HtmlAnalyzer"
            node="company"
            typeId="MARKETPLACE">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.HtmlAnalyzer"
            node="description"
            typeId="MARKETPLACE">
      </index>
   </extension>
   <extension
         point="org.eclipse.remus.ui.infotypes.infotypeimages">
      <image
            image="icons/plugin.gif"
            infotype="MARKETPLACE">
      </image>
   </extension>

</plugin>
