<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.remote.remoteRepository">
      <repository-connector
            class="org.remus.infomngmnt.connector.webdav.WebDAVConnector"
            credentialprovider="org.remus.infomngmnt.connector.webdav.WebDavCredentialProvider"
            id="org.remus.infomngmnt.connector.webdav.repository-connector"
            name="%repository-connector.name">
      </repository-connector>
   </extension>
   <extension
         point="org.eclipse.remus.ui.remote.repositoryUi">
      <respository
            icon="icons/webdav.png"
            id="org.remus.infomngmnt.connector.webdav.respository1"
            newWizard="org.remus.infomngmnt.connector.webdav.ui.WebdavRepositoryWizard"
            repository-id="org.remus.infomngmnt.connector.webdav.repository-connector">
      </respository>
   </extension>

</plugin>
