<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="mediaplayer" name="mediaplayer" schema="schema/mediaplayer.exsd"/>
   <extension
         point="org.remus.infomngmnt.jslib.browserReferenceResource">
      <referenceResource
            id="org.remus.infomngmnt.mediaplayer.playerFlashSWF"
            resource="mpwplayer/player.swf">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.mediaplayer.swfobjects"
            resource="mpwplayer/scripts.js">
      </referenceResource>
   </extension>
   <extension
         point="org.remus.infomngmnt.mediaplayer.mediaplayer">
      <mediaplayer
            class="org.remus.infomngmnt.mediaplayer.flv.FlvPlayer"
            id="org.remus.infomngmnt.mediaplayer.flvplayer"
            name="FLV Player">
         <supportedmediatype
               name="flv">
         </supportedmediatype>
         <supportedmediatype
               name="mp4">
         </supportedmediatype>
         <supportedmediatype
               name="m4v">
         </supportedmediatype>
      </mediaplayer>
      <mediaplayer
            class="org.remus.infomngmnt.mediaplayer.avi.AviPlayer"
            id="org.remus.infomngmnt.mediaplayer.aviPlayer"
            name="AVI Player">
         <supportedmediatype
               name="avi">
         </supportedmediatype>
         <supportedmediatype
               name="mpg">
         </supportedmediatype>
         <supportedmediatype
               name="mpeg">
         </supportedmediatype>
      </mediaplayer>
      <mediaplayer
            class="org.remus.infomngmnt.mediaplayer.mp3.Mp3Player"
            id="org.remus.infomngmnt.mediaplayer.mp3Player"
            name="MP3 Player">
         <supportedmediatype
               name="mp3">
         </supportedmediatype>
      </mediaplayer>
   </extension>

</plugin>
