<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="informationType" name="A pluggable Content-Type for Information" schema="schema/informationType.exsd"/>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://remus-software.net/infobroker"
            class="net.remus.infobroker.infobroker.InfobrokerPackage"
            genModel="model/info.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://remus-software.net/infobroker"
            class="net.remus.infobroker.infobroker.provider.InfobrokerItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
            factory="net.remus.infobroker.core.EditingDomainFactory"
            id="net.remus.infobroker.core.editingDomain">
      </editingDomain>
   </extension>
   

</plugin>
