<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.remote.remoteRepository">
      <repository-connector
            class="org.remus.infomngmnt.connector.rss.RssConnector"
            credentialprovider="org.remus.infomngmnt.connector.rss.RssCredentialProvider"
            id="org.remus.infomngmnt.connector.rss"
            name="RSS/Atom Feed">
      </repository-connector>
      <repository-connector
            class="org.remus.infomngmnt.connector.podcast.PodcastConnector"
            credentialprovider="org.remus.infomngmnt.connector.podcast.PodCastCredentialProvider"
            id="org.remus.infomngmnt.connector.rss.podcast"
            name="Podcast">
      </repository-connector>
   </extension>
   <extension
         point="org.eclipse.remus.ui.remote.repositoryUi">
      <respository
            icon="icons/Feed-icon.png"
            id="org.remus.infomngmnt.connector.rss.respository1"
            newWizard="org.remus.infomngmnt.connector.rss.ui.RssRepositoryWizard"
            repository-id="org.remus.infomngmnt.connector.rss">
      </respository>
      <respository
            icon="icons/Feed-icon.png"
            id="org.remus.infomngmnt.connector.rss.respository2"
            newWizard="org.remus.infomngmnt.connector.rss.ui.RssRepositoryWizard"
            repository-id="org.remus.infomngmnt.connector.rss.podcast">
      </respository>
   </extension>
   <extension
         point="org.eclipse.remus.core.job">
      <job
            class="org.remus.infomngmnt.connector.rss.jobs.RefreshRssJob"
            id="org.remus.infomngmnt.connector.rss.refreshJob"
            name="Refreh RSS Job">
      </job>
      <job
            class="org.remus.infomngmnt.connector.rss.jobs.DeleteOldEntriesJob"
            id="org.remus.infomngmnt.connector.rss.deleteOld"
            interval="200"
            name="Delete Old RSS Entries">
      </job>
   </extension>

</plugin>
