<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/aspencloud/calypso/core/model.ecore"
            class="org.remus.infomngmnt.calendar.model.ModelPackage"
            genModel="src/org/aspencloud/calypso/core/ecore/calypso.genmodel"/>
   </extension>

</plugin>
