<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            excludeFromIndex="false"
            icon="icons/iconexperience/brain.png"
            name="MindMap"
            postCreationHandler="org.remus.infomngmnt.mindmap.extension.MindmapPostCreationHandler"
            presentation="org.remus.infomngmnt.mindmap.extension.MindMapInformationRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="MINDMAP">
         <validTransfers
               transferId="org.remus.infomngmnt.core.filetransfer">
         </validTransfers>
      </information>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.business"
            class="org.remus.infomngmnt.mindmap.ui.NewMindmapWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/mindmap_new.png"
            id="org.remus.infomngmnt.mindmap.new"
            name="MindMap">
      </wizard>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.mindmap.ui.MindMapEditPage"
            icon="icons/iconexperience/mindmap_edit.png"
            id="org.remus.infomngmnt.mindmap.editPage1"
            label="Edit MindMap"
            type="MINDMAP">
      </editPage>
      <editorAction
            commandId="org.remus.infomngmnt.mindmap.openMindMapEditor"
            typeId="MINDMAP">
      </editorAction>
      <creationUiTrigger
            class="org.remus.infomngmnt.mindmap.ui.NewMindmapWizard"
            typeId="MINDMAP">
      </creationUiTrigger>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="org.remus.infomngmnt.mindmap.adapter.File2StorageAdapter">
         <adapter
               type="org.eclipse.core.filesystem.IFileStore">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.remus.infomngmnt.ui.navigation?after=iuspecific">
         <menu
               icon="icons/iconexperience/brain.png"
               id="org.remus.infomngmnt.mindmap.contextmenu"
               label="Mindmap"
               mnemonic="m">
            <command
                  commandId="org.remus.infomngmnt.mindmap.openMindMapEditor"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="org.remus.infomngmnt.iutypes.typeEquals"
                              value="MINDMAP">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.mindmap.openMindMapEditor"
            name="Open Mindmap in Edit-Mode">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.remus.infomngmnt.mindmap.openMindMapEditor"
            icon="icons/xmind/xmind.16.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.mindmap.handler.OpenMindMapEditorHandler"
            commandId="org.remus.infomngmnt.mindmap.openMindMapEditor">
      </handler>
   </extension>

</plugin>
