<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            buildHtml="true"
            name="Contact"
            postCreationHandler="org.remus.infomngmnt.contact.core.ContactPostCreation"
            presentation="org.remus.infomngmnt.contact.ContactInformationRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="CONTACT">
      </information>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.contact.ui.general.EditGeneralPage"
            icon="icons/iconexperience/contact.png"
            id="org.remus.infomngmnt.contact.editGeneralPage"
            label="General"
            type="CONTACT">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.contact.ui.misc.EditMiscPage"
            id="org.remus.infomngmnt.contact.editMiscPage"
            label="Details"
            type="CONTACT">
      </editPage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.business"
            class="org.remus.infomngmnt.contact.wizard.NewContactWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/contact_new.png"
            id="org.remus.infomngmnt.contact.newContactWizard"
            name="Contact">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.contact.newContactWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.remus.infomngmnt.ui.infotypes"
            class="org.remus.infomngmnt.contact.ui.preferences.ContactPreferencePage"
            id="org.remus.infomngmnt.contact.preferences"
            name="Contact">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.remus.infomngmnt.contact.preferences.ContactPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.remus.infomngmnt.jslib.browserReferenceResource">
      <referenceResource
            id="org.remus.infomngmnt.contact.phone"
            resource="icons/iconexperience/phone_call.png">
      </referenceResource>
   </extension>
   <extension
         point="org.remus.infomngmnt.core.job">
      <job
            class="org.remus.infomngmnt.contact.ui.jobs.CheckBirthdayJob"
            id="org.remus.infomngmnt.contact.birthdayreminder"
            interval="30"
            name="Birthday-Reminder">
      </job>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.rules.ruleDefinition">
      <validTransfers
            transferId="org.remus.infomngmnt.core.htmltransfer"
            typeId="CONTACT">
      </validTransfers>
      <validTransfers
            transferId="org.remus.infomngmnt.core.texttransfer"
            typeId="CONTACT">
      </validTransfers>
      <validTransfers
            transferId="org.remus.infomngmnt.core.urlTransfer"
            typeId="CONTACT">
      </validTransfers>
      <creationtrigger
            class="org.remus.infomngmnt.contact.wizard.NewContactCreationTrigger"
            typeId="CONTACT">
      </creationtrigger>
   </extension>
   <extension
         point="org.remus.infomngmnt.search.indexer">
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="title"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="firstname"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="additionals"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="lastname"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="titleafter"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="role"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="organization"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="email"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="instMessAim"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="instMessGadu"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="instMessGW"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="instMessIcq"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="instMessIrc"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="instMessJabber"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="instMessMsn"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="instMessMW"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="instMessSms"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="instMessSkype"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="instMessYahoo"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="blogFeed"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="frontpage"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="detDep"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="detBur"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="detNaMan"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="detNaAss"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="detJob"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="detTitle"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="detNaNick"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="detNaPart"
            typeId="CONTACT">
      </index>
      <index
            analyzer="org.remus.infomngmnt.search.SimpleAnalyzer"
            node="detNotes"
            typeId="CONTACT">
      </index>
      <secondaryIndex
            class="org.remus.infomngmnt.contact.index.AdressAnalyzer"
            node="adress"
            typeId="CONTACT">
      </secondaryIndex>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/contact.png"
            infotype="CONTACT">
      </image>
   </extension>

</plugin>
