<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            buildHtml="true"
            creationFactory="org.remus.infomngmnt.contact.core.ContactCreationFactory"
            icon="icons/iconexperience/contact.png"
            name="Contact"
            presentation="org.remus.infomngmnt.contact.ContactInformationRepresentation"
            type="CONTACT">
         <validTransfers
               transferId="org.remus.infomngmnt.core.texttransfer">
         </validTransfers>
         <validTransfers
               transferId="org.remus.infomngmnt.core.urlTransfer">
         </validTransfers>
      </information>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.contact.ui.general.EditGeneralPage"
            icon="icons/iconexperience/contact.png"
            id="org.remus.infomngmnt.contact.editGeneralPage"
            label="General"
            type="CONTACT">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.contact.ui.detail.EditDetailPage"
            icon="icons/iconexperience/contact.png"
            id="org.remus.infomngmnt.contact.editDetailPage"
            label="Details"
            type="CONTACT">
      </editPage>
      <editPage
            editpage="org.remus.infomngmnt.contact.ui.misc.EditMiscPage"
            icon="icons/iconexperience/contact.png"
            id="org.remus.infomngmnt.contact.editMiscPage"
            label="Miscellaneous"
            type="CONTACT">
      </editPage>
      <creationUiTrigger
            class="org.remus.infomngmnt.contact.wizard.NewContactWizard"
            typeId="CONTACT">
      </creationUiTrigger>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.business"
            class="org.remus.infomngmnt.contact.wizard.NewContactWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/contact_new.png"
            id="org.remus.infomngmnt.contact.newContactWizard"
            name="Contact">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.contact.newContactWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.remus.infomngmnt.ui.infotypes"
            class="org.remus.infomngmnt.contact.WorkbenchPreferencePage1"
            id="org.remus.infomngmnt.contact.preferences"
            name="Contact">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.remus.infomngmnt.contact.preferences.ContactPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
