<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            buildHtml="false"
            name="Password"
            presentation="org.remus.infomngmnt.password.AbstractInformationRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="PASSWORD">
      </information>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.password.EditPasswordPage"
            icon="icons/iconexperience/key.png"
            id="org.remus.infomngmnt.password.editPage1"
            label="Edit Password"
            type="PASSWORD">
      </editPage>
      <creationUiTrigger
            class="org.remus.infomngmnt.password.NewPasswordWizard"
            typeId="PASSWORD">
      </creationUiTrigger>
      <editorAction
            commandId="org.remus.infomngmnt.password.copyUsername"
            typeId="PASSWORD">
      </editorAction>
      <editorAction
            commandId="org.remus.infomngmnt.password.copyPassword"
            typeId="PASSWORD">
      </editorAction>
      <editorAction
            commandId="org.remus.infomngmnt.password.copyUrl"
            typeId="PASSWORD">
      </editorAction>
      <editorAction
            commandId="org.remus.infomngmnt.password.openUrl"
            typeId="PASSWORD">
      </editorAction>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.remus.infomngmnt.ui.simple"
            class="org.remus.infomngmnt.password.NewPasswordWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/password_new.png"
            id="org.remus.infomngmnt.password.newPasswordWizard"
            name="Password">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.password.newPasswordWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.remus.infomngmnt.ui.navigation?after=iuspecific">
         <menu
               icon="icons/iconexperience/key.png"
               id="org.remus.infomngmnt.passwordcontextmenu"
               label="Password"
               mnemonic="r">
            <command
                  commandId="org.remus.infomngmnt.password.copyUsername"
                  style="push">
            </command>
            <command
                  commandId="org.remus.infomngmnt.password.copyPassword"
                  style="push">
            </command>
            <command
                  commandId="org.remus.infomngmnt.password.copyUrl"
                  style="push">
            </command>
            <command
                  commandId="org.remus.infomngmnt.password.openUrl"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="org.remus.infomngmnt.iutypes.typeEquals"
                              value="PASSWORD">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.password.copyUsername"
            name="Copy Username to Clipboard">
      </command>
      <command
            id="org.remus.infomngmnt.password.copyPassword"
            name="Copy Password to Clipboard">
      </command>
      <command
            id="org.remus.infomngmnt.password.copyUrl"
            name="Copy URL to Clipboard">
      </command>
      <command
            id="org.remus.infomngmnt.password.openUrl"
            name="Open URL in Browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.password.handler.CopyUserNameToClipboardHandler"
            commandId="org.remus.infomngmnt.password.copyUsername">
      </handler>
      <handler
            class="org.remus.infomngmnt.password.handler.CopyPasswordToClipboardHandler"
            commandId="org.remus.infomngmnt.password.copyPassword">
      </handler>
      <handler
            class="org.remus.infomngmnt.password.handler.CopyUrlToClipboardHandler"
            commandId="org.remus.infomngmnt.password.copyUrl">
      </handler>
      <handler
            class="org.remus.infomngmnt.password.handler.OpenUrlInBrowserHandler"
            commandId="org.remus.infomngmnt.password.openUrl">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.remus.infomngmnt.password.copyUsername"
            icon="icons/iconexperience/copy_username.png">
      </image>
      <image
            commandId="org.remus.infomngmnt.password.copyPassword"
            icon="icons/iconexperience/copy_password.png">
      </image>
      <image
            commandId="org.remus.infomngmnt.password.copyUrl"
            icon="icons/iconexperience/copy_url.png">
      </image>
      <image
            commandId="org.remus.infomngmnt.password.openUrl"
            icon="icons/iconexperience/window_earth.png">
      </image>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/key.png"
            infotype="PASSWORD">
      </image>
   </extension>

</plugin>
