<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.remoteRepository">
      <repository-connector
            class="org.remus.infomngmnt.connector.slideshare.SlideshareConnector"
            credentialprovider="org.remus.infomngmnt.connector.slideshare.SlideshareCredentialProvider"
            icon="icons/slideshare.png"
            id="org.remus.infomngmnt.connector.slideshare"
            name="Slideshare">
      </repository-connector>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.repositoryUI">
      <respository
            id="org.remus.infomngmnt.connector.slideshar"
            newWizard="org.remus.infomngmnt.connector.slideshare.ui.NewSlideshareRepositoryWizard"
            repository-id="org.remus.infomngmnt.connector.slideshare">
      </respository>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.remus.infomngmnt.ui.navigation?after=iuspecific">
         <menu
               icon="icons/slideshare.png"
               id="org.remus.infomngmnt.slidehsare.contextmenu"
               label="Slideshare"
               mnemonic="l">
            <command
                  commandId="org.remus.infomngmnt.connector.slideshare.openUploadDialog"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <and>
                           <test
                                 property="org.remus.infomngmnt.ui.canCommitOrReplace">
                           </test>
                           <test
                                 property="org.remus.infomngmnt.ui.repositoryIdEquals"
                                 value="org.remus.infomngmnt.connector.slideshare">
                           </test>
                        </and>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.connector.slideshare.openUploadDialog"
            name="Upload new Slide">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.connector.slideshare.ui.UploadSlidesHandler"
            commandId="org.remus.infomngmnt.connector.slideshare.openUploadDialog">
      </handler>
   </extension>

</plugin>
