<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.jslib.browserReferenceResource">
            <referenceResource
            id="org.remus.infomngmnt.common.flags.ARE"
            resource="iconexperience/flags/ARE.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.BHR"
            resource="iconexperience/flags/BHR.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.DZA"
            resource="iconexperience/flags/DZA.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.EGY"
            resource="iconexperience/flags/EGY.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.IRQ"
            resource="iconexperience/flags/IRQ.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.JOR"
            resource="iconexperience/flags/JOR.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.KWT"
            resource="iconexperience/flags/KWT.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.LBN"
            resource="iconexperience/flags/LBN.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.LBY"
            resource="iconexperience/flags/LBY.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.MAR"
            resource="iconexperience/flags/MAR.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.OMN"
            resource="iconexperience/flags/OMN.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.QAT"
            resource="iconexperience/flags/QAT.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.SAU"
            resource="iconexperience/flags/SAU.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.SDN"
            resource="iconexperience/flags/SDN.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.SYR"
            resource="iconexperience/flags/SYR.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.TUN"
            resource="iconexperience/flags/TUN.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.YEM"
            resource="iconexperience/flags/YEM.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.IND"
            resource="iconexperience/flags/IND.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.ISR"
            resource="iconexperience/flags/ISR.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.JPN"
            resource="iconexperience/flags/JPN.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.KOR"
            resource="iconexperience/flags/KOR.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.THA"
            resource="iconexperience/flags/THA.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.VNM"
            resource="iconexperience/flags/VNM.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.CHN"
            resource="iconexperience/flags/CHN.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.HKG"
            resource="iconexperience/flags/HKG.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.TWN"
            resource="iconexperience/flags/TWN.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.BLR"
            resource="iconexperience/flags/BLR.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.BGR"
            resource="iconexperience/flags/BGR.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.ESP"
            resource="iconexperience/flags/ESP.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.CZE"
            resource="iconexperience/flags/CZE.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.DNK"
            resource="iconexperience/flags/DNK.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.AUT"
            resource="iconexperience/flags/AUT.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.CHE"
            resource="iconexperience/flags/CHE.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.DEU"
            resource="iconexperience/flags/DEU.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.LUX"
            resource="iconexperience/flags/LUX.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.GRC"
            resource="iconexperience/flags/GRC.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.AUS"
            resource="iconexperience/flags/AUS.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.CAN"
            resource="iconexperience/flags/CAN.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.GBR"
            resource="iconexperience/flags/GBR.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.IRL"
            resource="iconexperience/flags/IRL.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.NZL"
            resource="iconexperience/flags/NZL.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.ZAF"
            resource="iconexperience/flags/ZAF.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.ARG"
            resource="iconexperience/flags/ARG.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.BOL"
            resource="iconexperience/flags/BOL.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.CHL"
            resource="iconexperience/flags/CHL.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.COL"
            resource="iconexperience/flags/COL.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.CRI"
            resource="iconexperience/flags/CRI.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.DOM"
            resource="iconexperience/flags/DOM.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.ECU"
            resource="iconexperience/flags/ECU.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.GTM"
            resource="iconexperience/flags/GTM.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.HND"
            resource="iconexperience/flags/HND.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.MEX"
            resource="iconexperience/flags/MEX.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.NIC"
            resource="iconexperience/flags/NIC.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.PAN"
            resource="iconexperience/flags/PAN.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.PER"
            resource="iconexperience/flags/PER.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.PRI"
            resource="iconexperience/flags/PRI.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.PRY"
            resource="iconexperience/flags/PRY.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.SLV"
            resource="iconexperience/flags/SLV.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.URY"
            resource="iconexperience/flags/URY.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.VEN"
            resource="iconexperience/flags/VEN.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.EST"
            resource="iconexperience/flags/EST.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.FIN"
            resource="iconexperience/flags/FIN.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.BEL"
            resource="iconexperience/flags/BEL.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.FRA"
            resource="iconexperience/flags/FRA.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.HRV"
            resource="iconexperience/flags/HRV.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.HUN"
            resource="iconexperience/flags/HUN.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.ISL"
            resource="iconexperience/flags/ISL.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.ITA"
            resource="iconexperience/flags/ITA.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.LTU"
            resource="iconexperience/flags/LTU.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.LVA"
            resource="iconexperience/flags/LVA.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.MKD"
            resource="iconexperience/flags/MKD.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.NLD"
            resource="iconexperience/flags/NLD.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.NOR"
            resource="iconexperience/flags/NOR.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.POL"
            resource="iconexperience/flags/POL.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.BRA"
            resource="iconexperience/flags/BRA.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.PRT"
            resource="iconexperience/flags/PRT.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.ROU"
            resource="iconexperience/flags/ROU.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.RUS"
            resource="iconexperience/flags/RUS.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.SVK"
            resource="iconexperience/flags/SVK.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.SVN"
            resource="iconexperience/flags/SVN.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.ALB"
            resource="iconexperience/flags/ALB.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.BIH"
            resource="iconexperience/flags/BIH.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.SWE"
            resource="iconexperience/flags/SWE.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.TUR"
            resource="iconexperience/flags/TUR.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.UKR"
            resource="iconexperience/flags/UKR.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.USA"
            resource="iconexperience/flags/USA.png">
      </referenceResource>
      <referenceResource
            id="org.remus.infomngmnt.common.flags.UNKNOWN"
            resource="iconexperience/flags/flag_generic.png">
      </referenceResource>
   </extension>

</plugin>
