<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension-point id="traySection" name="traySection" schema="schema/traySection.exsd"/>
<extension-point id="trayAction" name="trayAction" schema="schema/trayAction.exsd"/>
<extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.remus.infomngmt.common.ui.uimodel.UIModelPackage"
            genModel="model/uimodel.genmodel"
            uri="http://remus-software.org/uimodel">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.remus.infomngmt.common.ui.uimodel.provider.UIModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"
            uri="http://remus-software.org/uimodel">
      </factory>
   </extension>
   <extension
         point="org.remus.infomngmnt.common.ui.traySection">
      <sectionBox
            id="org.remus.infomngmnt.common.ui.trayActions"
            multiple="false"
            name="Actions"
            preferencesclass="org.remus.infomngmnt.common.ui.trayaction.TrayActionPreferences"
            sectionControl="org.remus.infomngmnt.common.ui.trayaction.ActionTraySection">
      </sectionBox>
   </extension>
</plugin>
