<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            excludeFromIndex="false"
            name="Audio"
            presentation="org.remus.infomngmnt.audio.internal.AudioRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="AUDIO">
      </information>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="org.remus.infomngmnt.ui.simple"
            class="org.remus.infomngmnt.audio.wizard.NewAudioWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            hasPages="true"
            icon="icons/iconexperience/loudspeaker_new.png"
            id="org.remus.infomngmnt.audio.newWizard"
            name="Audio">
      </wizard>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.audio.internal.AudioEditPage"
            id="org.remus.infomngmnt.audio.editPage1"
            label="Edit Audio"
            type="AUDIO">
      </editPage>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.rules.ruleDefinition">
      <validTransfers
            transferId="org.remus.infomngmnt.core.filetransfer"
            typeId="AUDIO">
      </validTransfers>
      <creationtrigger
            class="org.remus.infomngmnt.audio.wizard.AudioCreationTrigger"
            typeId="AUDIO">
      </creationtrigger>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/loudspeaker.png"
            infotype="AUDIO">
      </image>
   </extension>

</plugin>
