<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="informationUi" name="informationUi" schema="schema/informationUi.exsd"/>
   <extension-point id="repositoryUI" name="repositoryUI" schema="schema/repositoryUI.exsd"/>
   <extension-point id="collapsibleButtonBar" name="collapsibleButtonBar" schema="schema/collapsibleButtonBar.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="org.remus.infomngmnt.ui.newInfoProjectWizard">
      </primaryWizard>
      <primaryWizard
            id="org.remus.infomngmnt.ui.newCategoryWizard">
      </primaryWizard>
      <wizard
            category="org.remus.infomngmnt.ui.general"
            class="org.remus.infomngmnt.ui.project.NewProjectWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            id="org.remus.infomngmnt.ui.newInfoProjectWizard"
            name="Information Project"
            project="true">
      </wizard>
      <wizard
            category="org.remus.infomngmnt.ui.general"
            class="org.remus.infomngmnt.ui.category.NewCategoryWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            id="org.remus.infomngmnt.ui.newCategoryWizard"
            name="Category">
      </wizard>
      <category
            id="org.remus.infomngmnt.ui.general"
            name="General">
      </category>
      <category
            id="org.remus.infomngmnt.ui.simple"
            name="Simple">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.remus.infomngmnt.ui.perspective.Perspective"
            id="org.remus.infomngmnt.ui.infoperspective"
            name="Information Management">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.remus.infomngmnt.ui.views.MainViewPart"
            icon="icons/sample.gif"
            id="org.remus.infomngmnt.ui.main"
            name="Main"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.ui.newInfoProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.remus.infomngmnt.ui.newCategoryWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.remus.infomngmnt.ui.editors.InformationEditor"
            contributorClass="org.remus.infomngmnt.ui.editors.InfomngmntActionBarContributor"
            extensions="info"
            icon="icons/sample.gif"
            id="org.remus.infomngmnt.ui.editors.InformationEditor"
            name="InformationInfoEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.remus.infomngmnt.ui.preference.UIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.remus.infomngmnt.common.ui.traySection">
      <sectionBox
            id="org.remus.infomngmnt.ui.dropBox"
            multiple="true"
            name="Drop-Section"
            preferencesclass="org.remus.infomngmnt.ui.tray.DropSectionPreferencePage"
            sectionControl="org.remus.infomngmnt.ui.tray.DropSection">
      </sectionBox>
      <sectionBox
            id="org.remus.infomngmnt.ui.clock"
            multiple="false"
            name="Clock"
            sectionControl="org.remus.infomngmnt.ui.tray.ClockTray">
      </sectionBox>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.remus.infomngmnt.ui.editors.InformationEditorCreationFactory"
            id="org.remus.infomngmnt.infofilefactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.remus.infomngmnt.ui.rules.RulePreferencePage"
            id="org.remus.infomngmnt.ui.rules"
            name="Rules">
      </page>
      <page
            class="org.remus.infomngmnt.ui.tray.DesktopPanelPreferencePage"
            id="org.remus.infomngmnt.ui.desktop"
            name="Desktop Panel">
      </page>
   </extension>
   <extension
         point="org.remus.infomngmnt.common.ui.trayAction">
      <trayAction
            class="org.remus.infomngmnt.ui.trayaction.OpenElementToolItem"
            icon="icons/sample.gif"
            id="org.remus.infomngmnt.ui.openElement"
            name="Open Infotype">
      </trayAction>
      <trayAction
            class="org.remus.infomngmnt.ui.trayaction.RestoreFromTrayToolItem"
            icon="icons/sample.gif"
            id="org.remus.infomngmnt.ui.restoreFromTray"
            name="Restore from Tray">
      </trayAction>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.ui.openInfoType"
            name="Open Information-Type">
      </command>
      <command
            id="org.remus.infomngmnt.ui.newRepository"
            name="Add new Repository">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.ui.handler.OpenInfoTypeHandler"
            commandId="org.remus.infomngmnt.ui.openInfoType">
      </handler>
      <handler
            class="org.remus.infomngmnt.ui.handler.NewRepositoryHandler"
            commandId="org.remus.infomngmnt.ui.newRepository">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.remus.infomngmnt.ui.openInfoType"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
      <key
            commandId="org.remus.infomngmnt.ui.newRepository"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Y">
      </key>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.collapsibleButtonBar">
      <collapsibleButton
            bigImage="icons/sample.gif"
            class="org.remus.infomngmnt.ui.collapsiblebuttons.NavigationSection"
            icon="icons/sample.gif"
            id="org.remus.infomngmnt.ui.navigation"
            name="Navigation"
            order="10"
            tooltip="Navigation">
      </collapsibleButton>
      <collapsibleButton
            bigImage="icons/sample.gif"
            class="org.remus.infomngmnt.ui.collapsiblebuttons.TagSection"
            icon="icons/sample.gif"
            id="org.remus.infomngmnt.ui.tags"
            name="Tags"
            order="20"
            tooltip="Tags">
      </collapsibleButton>
      <collapsibleButton
            class="org.remus.infomngmnt.ui.collapsiblebuttons.RemoteRepositoriesButtonBar"
            icon="icons/sample.gif"
            id="org.remus.infomngmnt.ui.repositories"
            name="Remote Repositories"
            order="30"
            tooltip="Remote Repositories Tooltip">
      </collapsibleButton>
   </extension>

</plugin>
