<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.remote.remoteRepository">
      <repository-connector
            class="org.remus.infomngmnt.connector.googlecontacts.ContactsRepository"
            credentialprovider="org.remus.infomngmnt.connector.googlecontacts.GoogleContactsCredentialProvider"
            id="org.remus.infomngmnt.connector.googlecontacts.repository"
            name="Google Contacts">
         <changeDefinition
               id="org.remus.infomngmnt.connector.googlecontacts.change"
               informationType="CONTACT">
            <changeObjectIdValue
                  path="@description">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="imageData">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="firstname">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="additionals">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="lastname">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="role">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="organization">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="pnHome">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="pnMobile">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="pnWork">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="pnFAX">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="pnModem">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="pnPager">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="pnOthers">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="emaildef">
            </changeObjectIdValue>
            <changeObjectId
                  path="emails">
            </changeObjectId>
            <changeObjectIdValue
                  path="instMessAim">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="instMessGW">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="instMessYahoo">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="instMessSkype">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="instMessGadu">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="instMessMsn">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="instMessIcq">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="instMessDef">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="detJob">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="detNaNick">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="detBirth">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="addresses/homeAddress/street">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="addresses/homeAddress/postofficebox">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="addresses/homeAddress/locality">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="addresses/homeAddress/postal">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="addresses/workAddress/street">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="addresses/workAddress/postofficebox">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="addresses/workAddress/locality">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="addresses/workAddress/postal">
            </changeObjectIdValue>
         </changeDefinition>
      </repository-connector>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.remote.repositoryUi">
      <respository
            icon="icons/repository.png"
            id="org.remus.infomngmnt.connector.googlecontacts.ui"
            newWizard="org.remus.infomngmnt.connector.googlecontacts.ui.NewGoogleContactsRepositoryWizard"
            repository-id="org.remus.infomngmnt.connector.googlecontacts.repository">
      </respository>
   </extension>

</plugin>
