<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.remus.infomngmnt.core.informationType">
      <information
            buildHtml="true"
            name="Video"
            presentation="org.remus.infomngmnt.video.internal.VideoRepresentation"
            structuredefinition="structuredefinition.xmi"
            type="VIDEO">
      </information>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.editor.informationUi">
      <editPage
            editpage="org.remus.infomngmnt.video.editor.VideoEditPage"
            icon="icons/iconexperience/film_edit.png"
            id="org.remus.infomngmnt.video.editPage"
            label="Edit Video"
            type="VIDEO">
      </editPage>
      <creationUiTrigger
            class="org.remus.infomngmnt.video.newwizard.NewVideoWizard"
            typeId="VIDEO">
      </creationUiTrigger>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="org.remus.infomngmnt.ui.simple"
            class="org.remus.infomngmnt.video.newwizard.NewVideoWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            hasPages="true"
            icon="icons/iconexperience/film_new.png"
            id="org.remus.infomngmnt.video.newWizard"
            name="Video">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.video.newWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.infotypes.infotypeimages">
      <image
            image="icons/iconexperience/film.png"
            infotype="VIDEO">
      </image>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.rules.ruleDefinition">
      <creationtrigger
            class="org.remus.infomngmnt.video.newwizard.VideoCreationWizard"
            typeId="VIDEO">
      </creationtrigger>
      <validTransfers
            transferId="org.remus.infomngmnt.core.filetransfer"
            typeId="VIDEO">
      </validTransfers>
      <validTransfers
            transferId="org.remus.infomngmnt.core.urlTransfer"
            typeId="VIDEO">
      </validTransfers>
   </extension>

</plugin>
