<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.remus.core.remote.remoteRepository">
      <repository-connector
      		id="org.remus.infomngmnt.connector.flickr."
            class="org.remus.infomngmnt.connector.flickr.FlickrConnector"
            credentialprovider="org.remus.infomngmnt.connector.flickr.FlickrCredentials"
            name="Flickr">
         <changeDefinition
               id="org.remus.infomngmnt.connector.flickr.changeDefinition1"
               informationType="IMAGE">
            <changeObjectIdValue
                  path="@keywords">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="@label">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="@description">
            </changeObjectIdValue>
            <changeObjectIdValue
                  path="originFilePath">
            </changeObjectIdValue>
            <changeObjectId
                  path="links">
            </changeObjectId>
         </changeDefinition>
      </repository-connector>
   </extension>
   <extension
         point="org.eclipse.remus.ui.remote.repositoryUi">
      <respository
            icon="icons/flickr.png"
            id="org.remus.infomngmnt.connector.flickr.ui"
            newWizard="org.remus.infomngmnt.connector.flickr.ui.NewFlickrRepositoryWizard"
            repository-id="org.remus.infomngmnt.connector.flickr.">
      </respository>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.remus.infomngmnt.ui.navigation?after=iuspecific">
         <menu
               icon="icons/flickr.png"
               id="org.remus.infomngmnt.flickr.contextmenu"
               label="Flickr"
               mnemonic="l">
            <command
                  commandId="org.remus.infomngmnt.connector.flickr.openWeb"
                  style="push">
            </command>
            <command
                  commandId="org.remus.infomngmnt.connector.flickr.copyImageUrlToClipboard"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <and>
                           <test
                                 property="org.eclipse.remus.remote.canCommitOrReplace">
                           </test>
                           <test
                                 property="org.eclipse.remus.remote.repositoryIdEquals"
                                 value="org.remus.infomngmnt.connector.flickr.">
                           </test>
                        </and>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.infomngmnt.connector.flickr.openWeb"
            name="Open Photo on flickr">
      </command>
      <command
            id="org.remus.infomngmnt.connector.flickr.copyImageUrlToClipboard"
            name="Copy Image Url to Clipboard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.infomngmnt.connector.flickr.handler.OpenElementOnFlickrHandler"
            commandId="org.remus.infomngmnt.connector.flickr.openWeb">
      </handler>
      <handler
            class="org.remus.infomngmnt.connector.flickr.handler.CopyImageUrlToClipboradHandler"
            commandId="org.remus.infomngmnt.connector.flickr.copyImageUrlToClipboard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.remus.infomngmnt.connector.flickr.copyImageUrlToClipboard"
            icon="IMG_TOOL_PASTE">
      </image>
   </extension>

</plugin>
