<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.remus.infomngmnt.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.remus.infomngmnt.application.application"
            name="Remus Information Management">
         <property
               name="windowImages"
               value="icons/iconexperience/windowimages/cabinet_open_16.png,icons/iconexperience/windowimages/cabinet_open_32.png,icons/iconexperience/windowimages/cabinet_open_48.png,icons/iconexperience/windowimages/cabinet_open_64.png,icons/iconexperience/windowimages/cabinet_open_128.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Remus Information Management">
         </property>
         <property
               name="startupProgressRect"
               value="210,210,270,15">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="buildIdLocation"
               value="280,135">
         </property>
         <property
               name="startupMessageRect"
               value="210,230,270,15">
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
         <property
               name="aboutText"
               value="Remus Information Management&#x0A;&#x0A;Version: {0}&#x0A;BuildId: {1}&#x0A;Date: {2}&#x0A;&#x0A;(c) Copyright RIM contributors and other 2009. All rights reserverd.&#x0A;Visit http://www.remus-software.org&#x0A;&#x0A;This product uses software developed by the Eclipse Foundation and &#x0A;its members (http://www.eclipse.org), Apache (http://www.apache.org)&#x0A;and others. For a full list see &#x0A;http://www.remus-software.org/integrated-thirdparty-packages">
         </property>
      </product>
   </extension>

</plugin>
