<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.remus.infomngmnt.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.remus.infomngmnt.application.application"
            name="Remus Information Management">
         <property
               name="windowImages"
               value="icons/iconexperience/windowimages/cabinet_open_16.png,icons/iconexperience/windowimages/cabinet_open_32.png,icons/iconexperience/windowimages/cabinet_open_48.png,icons/iconexperience/windowimages/cabinet_open_64.png,icons/iconexperience/windowimages/cabinet_open_128.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Remus Information Management">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <!--
         <property
               name="buildIdLocation"
               value="13,278">
         </property>
         -->
      </product>
   </extension>
	 <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.remus.infomngmnt.ui.perspective.Perspective"
            icon="icons/rim_icon.png"
            id="org.remus.infomngmnt.ui.infoperspective"
            name="Information Management">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.remus.infomngmnt.ui.newInfoProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.remus.infomngmnt.ui.newCategoryWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <editor
            class="org.remus.infomngmnt.welcome.WelcomeEditor2"
            default="false"
            icon="icons/iconexperience/16/earth.png"
            id="org.remus.infomngmnt.welcome.WelcomeEditor"
            name="Welcome to Remus!">
      </editor>
   </extension>
   <extension
         point="org.remus.infomngmnt.ui.desktop.trayAction">
      <trayAction
            class="org.remus.infomngmnt.ui.trayaction.OpenElementToolItem"
            icon="icons/iconexperience/16/folder_document.png"
            id="org.remus.infomngmnt.ui.openElement"
            name="Open Infotype">
      </trayAction>
      <trayAction
            class="org.remus.infomngmnt.ui.trayaction.RestoreFromTrayToolItem"
            icon="icons/iconexperience/16/fit_to_size.png"
            id="org.remus.infomngmnt.ui.restoreFromTray"
            name="Restore from Tray">
      </trayAction>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
          <command
            defaultHandler="org.remus.infomngmnt.application.handler.OpenWelcomeHandler"
            id="org.remus.infomngmnt.ui.openWelcome"
            name="Welcome">
      </command>
       <command
            id="org.remus.infomngmnt.ui.openInfoType"
            name="Open Information-Type">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
          <view
            allowMultiple="false"
            category="org.remus.infomngmnt.ui.viewcategory"
            class="org.remus.infomngmnt.ui.view.MainViewPart"
            icon="platform:/plugin/org.remus.infomngmnt.ui.editor/icons/iconexperience/16/document.png"
            id="org.remus.infomngmnt.ui.main"
            name="Navigation"
            restorable="true">
      </view>
   </extension>
    <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.remus.infomngmnt.ui.navigationContext"
            name="Main View - Navigation Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
    <extension
         point="org.remus.infomngmnt.ui.collapsiblebutton.collapsibleButtonBar">
      <collapsibleButton
            bigImage="icons/iconexperience/24/workplace.png"
            class="org.remus.infomngmnt.ui.collapsiblebuttons.NavigationSection"
            contextId="org.remus.infomngmnt.ui.navigationContext"
            icon="icons/iconexperience/16/workplace.png"
            id="org.remus.infomngmnt.ui.navigation"
            name="Navigation"
            order="10"
            tooltip="Navigation">
      </collapsibleButton>
      <collapsibleButton
            bigImage="icons/iconexperience/24/bookmark_silver.png"
            class="org.remus.infomngmnt.ui.collapsiblebuttons.TagSection"
            icon="icons/iconexperience/16/bookmark_silver.png"
            id="org.remus.infomngmnt.ui.tags"
            name="Tags"
            order="20"
            tooltip="Tags">
      </collapsibleButton>
      <collapsibleButton
            bigImage="icons/iconexperience/24/server_network.png"
            class="org.remus.infomngmnt.ui.collapsiblebuttons.RemoteRepositoryButtonBar"
            contextId="org.remus.infomngmnt.ui.navigationContext"
            icon="icons/iconexperience/16/server_network.png"
            id="org.remus.infomngmnt.application.remoteRepo"
            name="Remote Repositories"
            order="30"
            tooltip="Remote Repositories">
      </collapsibleButton>
   </extension>
   
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.remus.infomngmnt.ui.navigation?after=sync">
         <menu
               label="Remote Synchronization"
               mnemonic="e">
            <command
                  commandId="org.remus.infomngmnt.ui.remote.syncCategory"
                  icon="icons/iconexperience/16/server_client_exchange.png"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.remus.infomngmnt.ui.remote.shareCategory"
                  icon="icons/iconexperience/16/server_from_client.png"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <separator
                  name="org.remus.infomngmnt.ui.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.remus.infomngmnt.ui.remote.commitCommand"
                  icon="icons/iconexperience/16/arrow2_right_green.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
            </command>
            <command
                  commandId="org.remus.infomngmnt.ui.remote.addToRepository"
                  icon="icons/iconexperience/16/server_from_client.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
            </command>
            <command
                  commandId="org.remus.infomngmnt.ui.remote.replaceCommand"
                  icon="icons/iconexperience/16/arrow2_left_red.png"
                  style="push">
            </command>
            <separator
                  name="org.remus.infomngmnt.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.remus.infomngmnt.ui.remote.ignoreForSynchronization"
                  icon="platform:/plugin/org.remus.infomngmnt.ui.remote/icons/iconexperience/16/funnel.png"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.remus.infomngmnt.ui.remote.disconnect"
                  icon="icons/iconexperience/16/server_delete.png"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:help?after=help-primary-additions-start">
         <command
               commandId="org.remus.infomngmnt.ui.openWelcome"
               icon="icons/iconexperience/16/earth.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:window?after=additions">
         <command
               commandId="org.remus.infomngmnt.ui.viewer.projectmanagement"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
        
         <toolbar
               id="org.remus.infomngmnt.ui.trimtoolbar2">
            <control
                  class="org.remus.infomngmnt.ui.editors.editortrim.EditorTrim"
                  id="org.remus.infomngmnt.ui.editors.editortrim.EditorTrim">
            </control>
         </toolbar>
        
         <toolbar
               id="org.remus.infomngmnt.ui.trimtoolbar">
            <control
                  class="org.remus.infomngmnt.ui.notification.NotificationTrimArea"
                  id="org.remus.infomngmnt.ui.notification.NotificationTrimArea">
            </control>
         </toolbar>
         
         <!--
         <toolbar
               id="org.remus.infomngmnt.ui.todayToolbar">
            <control
                  class="org.remus.infomngmnt.ui.calendar.TodayTrimArea">
            </control>
         </toolbar>
         -->
      </menuContribution>
   </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.remus.infomngmnt.ui.openInfoType"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+T">
       </key>
       <key
             commandId="org.remus.infomngmnt.ui.remote.newRepository"
             contextId="org.remus.infomngmnt.ui.remote.repositories"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+Y">
       </key>
       <key
             commandId="org.remus.infomngmnt.ui.remote.shareCategory"
             contextId="org.remus.infomngmnt.ui.navigationContext"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M2+M3+R">
       </key>
       <key
             commandId="org.remus.infomngmnt.ui.remote.syncCategory"
             contextId="org.remus.infomngmnt.ui.navigationContext"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M2+M3+T">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
        <handler
            class="org.remus.infomngmnt.application.handler.OpenInfoTypeHandler"
            commandId="org.remus.infomngmnt.ui.openInfoType">
      </handler>
    </extension>
</plugin>
