<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.remus.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.remus.application.application"
            name="Remus Information Management">
         <property
               name="windowImages"
               value="icons/iconexperience/windowimages/cabinet_open_16.png,icons/iconexperience/windowimages/cabinet_open_32.png,icons/iconexperience/windowimages/cabinet_open_48.png,icons/iconexperience/windowimages/cabinet_open_64.png,icons/iconexperience/windowimages/cabinet_open_128.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Remus Information Management">
         </property>
         <property
               name="startupProgressRect"
               value="125,280,150,10">
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
         <property
               name="aboutText"
               value="Remus Information Management&#x0A;&#x0A;Version: {0}&#x0A;BuildId: {1}&#x0A;Date: {2}&#x0A;&#x0A;(c) Copyright RIM contributors and other 2009. All rights reserverd.&#x0A;Visit http://www.remus-software.org&#x0A;&#x0A;This product uses software developed by the Eclipse Foundation and &#x0A;its members (http://www.eclipse.org), Apache (http://www.apache.org)&#x0A;and others. For a full list see &#x0A;http://www.remus-software.org/integrated-thirdparty-packages">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="1000,1000,270,15">
         </property>
         <!--
         <property
               name="buildIdLocation"
               value="13,278">
         </property>
         -->
      </product>
   </extension>
	 <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.remus.ui.perspective.Perspective"
            icon="icons/rim_icon.png"
            id="org.remus.infomngmnt.ui.infoperspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remus.infomngmnt.ui.infoperspective">
         <newWizardShortcut
               id="org.eclipse.remus.ui.newInfoProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.remus.ui.newCategoryWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <editor
            class="org.eclipse.remus.welcome.WelcomeEditor2"
            default="false"
            icon="icons/iconexperience/16/earth.png"
            id="org.eclipse.remus.welcome.WelcomeEditor"
            name="%welcome.editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.remus.ui.desktop.trayAction">
      <trayAction
            class="org.eclipse.remus.ui.trayaction.OpenElementToolItem"
            icon="icons/iconexperience/16/folder_document.png"
            id="org.eclipse.remus.ui.openElement"
            name="Open Infotype">
      </trayAction>
      <trayAction
            class="org.eclipse.remus.ui.trayaction.RestoreFromTrayToolItem"
            icon="icons/iconexperience/16/fit_to_size.png"
            id="org.eclipse.remus.ui.restoreFromTray"
            name="Restore from Tray">
      </trayAction>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
          <command
            defaultHandler="org.eclipse.remus.application.handler.OpenWelcomeHandler"
            id="org.eclipse.remus.ui.openWelcome"
            name="%welcome.command.name">
      </command>
       <command
            id="org.eclipse.remus.ui.openInfoType"
            name="%open.command.name">
      </command>
       <command
             id="org.eclipse.remus.application.syncAll"
             name="%synchronize.command.name">
       </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
          <view
            allowMultiple="false"
            category="org.eclipse.remus.ui.viewcategory"
            class="org.eclipse.remus.ui.view.MainViewPart"
            icon="platform:/plugin/org.eclipse.remus.ui.editor/icons/iconexperience/16/document.png"
            id="org.eclipse.remus.ui.main"
            name="%navigation.view.name"
            restorable="true">
      </view>
   </extension>
    <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.eclipse.remus.ui.navigationContext"
            name="%context.name"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
    <extension
         point="org.eclipse.remus.ui.collapsiblebutton.collapsibleButtonBar">
      <collapsibleButton
            bigImage="icons/24/workplace_24x24.png"
            class="org.eclipse.remus.ui.collapsiblebuttons.NavigationSection"
            contextId="org.eclipse.remus.ui.navigationContext"
            icon="icons/16/workplace_16x16.png"
            id="org.eclipse.remus.ui.navigation"
            name="%navigation.collapsibleButton.name"
            order="10"
            tooltip="%navigation.collapsibleButton.tooltip">
      </collapsibleButton>
      <collapsibleButton
            bigImage="icons/24/bookmark_24x24.png"
            class="org.eclipse.remus.ui.collapsiblebuttons.TagSection"
            icon="icons/16/bookmark_16x16.png"
            id="org.eclipse.remus.ui.tags"
            name="%tags.collapsibleButton.name"
            order="20"
            tooltip="%tags.collapsibleButton.tooltip">
      </collapsibleButton>
      <collapsibleButton
            bigImage="icons/24/server_24x24.png"
            class="org.eclipse.remus.ui.collapsiblebuttons.RemoteRepositoryButtonBar"
            contextId="org.eclipse.remus.ui.navigationContext"
            icon="icons/16/server_16x16.png"
            id="org.eclipse.remus.application.remoteRepo"
            name="%remote.collapsibleButton.name"
            order="30"
            tooltip="%remote.collapsibleButton.tooltip">
      </collapsibleButton>
   </extension>
   
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.remus.ui.navigation?after=sync">
         <menu
               label="%remote.menu.label"
               mnemonic="e">
            <command
                  commandId="org.eclipse.remus.ui.remote.syncCategory"
                  icon="icons/iconexperience/16/server_client_exchange.png"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <separator
                  name="org.eclipse.remus.ui.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.remus.ui.remote.commitCommand"
                  icon="icons/iconexperience/16/arrow2_right_green.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.remus.ui.remote.addToRepository"
                  icon="icons/iconexperience/16/server_from_client.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.remus.ui.remote.replaceCommand"
                  icon="icons/iconexperience/16/arrow2_left_red.png"
                  style="push">
            </command>
            <separator
                  name="org.eclipse.remus.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.remus.ui.remote.ignoreForSynchronization"
                  icon="platform:/plugin/org.eclipse.remus.ui.remote/icons/iconexperience/16/funnel.png"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.remus.ui.remote.disconnect"
                  icon="icons/iconexperience/16/server_delete.png"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:help?after=help-primary-additions-start">
         <command
               commandId="org.eclipse.remus.ui.openWelcome"
               icon="icons/iconexperience/16/earth.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:window?after=additions">
         <command
               commandId="org.eclipse.remus.ui.viewer.projectmanagement"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
        
         <toolbar
               id="org.eclipse.remus.ui.trimtoolbar2">
            <control
                  class="org.eclipse.remus.ui.editors.editortrim.EditorTrim"
                  id="org.eclipse.remus.ui.editors.editortrim.EditorTrim">
            </control>
         </toolbar>
        
         <toolbar
               id="org.eclipse.remus.ui.trimtoolbar">
            <control
                  class="org.eclipse.remus.ui.notification.NotificationTrimArea"
                  id="org.eclipse.remus.ui.notification.NotificationTrimArea">
            </control>
         </toolbar>
         
         <!--
         <toolbar
               id="org.remus.infomngmnt.ui.todayToolbar">
            <control
                  class="org.remus.infomngmnt.ui.calendar.TodayTrimArea">
            </control>
         </toolbar>
         -->
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.remus.ui.navigation?after=sync">
         <menu
               label="%search.menu.label"
               mnemonic="a">
            <command
                  commandId="org.eclipse.remus.ui.searchReferences"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.remus.InformationUnitListItem">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.workbench.file?after=newWizardDropDown">
         <command
               commandId="org.eclipse.remus.ui.remote.newRepository"
               style="push">
         </command>
         <command
               commandId="org.eclipse.remus.application.syncAll"
               style="push">
         </command>
      </menuContribution>
   </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.eclipse.remus.ui.openInfoType"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+T">
       </key>
       <key
             commandId="org.eclipse.remus.ui.remote.newRepository"
             contextId="org.eclipse.remus.ui.remote.repositories"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+Y">
       </key>
       <key
             commandId="org.eclipse.remus.ui.remote.shareCategory"
             contextId="org.eclipse.remus.ui.navigationContext"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M2+M3+R">
       </key>
       <key
             commandId="org.eclipse.remus.ui.remote.syncCategory"
             contextId="org.eclipse.remus.ui.navigationContext"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M2+M3+T">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
        <handler
            class="org.eclipse.remus.application.handler.OpenInfoTypeHandler"
            commandId="org.eclipse.remus.ui.openInfoType">
      </handler>
        <handler
              class="org.eclipse.remus.application.handler.SynchronizeAllHandler"
              commandId="org.eclipse.remus.application.syncAll">
        </handler>
    </extension>
    <extension
          point="org.eclipse.ui.newWizards">
           <primaryWizard
            id="org.eclipse.remus.ui.newInfoProjectWizard">
      </primaryWizard>
      <primaryWizard
            id="org.eclipse.remus.ui.newCategoryWizard">
      </primaryWizard>
      <wizard
            category="org.eclipse.remus.ui.general"
            class="org.eclipse.remus.ui.project.NewProjectWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/16/folder_green_new.png"
            id="org.eclipse.remus.ui.newInfoProjectWizard"
            name="%project.wizard.name"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.remus.ui.general"
            class="org.eclipse.remus.ui.category.NewCategoryWizard"
            finalPerspective="org.remus.infomngmnt.ui.infoperspective"
            icon="icons/iconexperience/16/folder_blue_new.png"
            id="org.eclipse.remus.ui.newCategoryWizard"
            name="%category.wizard.name">
      </wizard>
    </extension>
     <extension
         point="org.eclipse.epp.mpc.ui.catalog">
      <catalog
            description="%catalog.description"
            icon="icons/iconexperience/windowimages/cabinet_open_32.png"
            label="%catalog.label"
            url="http://remus-software.org/marketplace/">
      </catalog>
   </extension>
     <extension
           point="org.eclipse.ui.commandImages">
        <image
              commandId="org.eclipse.remus.application.syncAll"
              icon="icons/iconexperience/16/server_client_exchange.png">
        </image>
     </extension>
     <extension
           point="org.eclipse.ui.bindings">
        <key
              commandId="org.eclipse.remus.application.syncAll"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="F9">
        </key>
     </extension>
     <extension
           point="org.eclipse.equinox.preferences.preferences">
        <initializer
              class="org.eclipse.remus.application.PreferenceInitializer">
        </initializer>
     </extension>
</plugin>
